[2015-05-16 12:55] oronbz opened #2 "warriorjs: command not found"
After successfully installing warriorjs with:
[code]
i'm getting
[code]

This isn't the first global module that I install btw (:

[2015-05-16 13:14] olistic commented on #2
It seems that your installation of node/npm is putting npm binaries in a place that is not in the path. This usually happens with homebrew installations of node, if that's the case. Could you please paste what you get after running:

[code]

[2015-05-16 13:21] oronbz commented on #2
Again, this is not the first time I install and use global package, an i'm able to use other global modules just fine but there you go:
[code]

[2015-05-16 13:28] olistic commented on #2
With "use" you mean CLIs? Because it might not be the first time you install and use a global package, but maybe it's the first with a binary. Sorry I'm being insistent, I just want to clear out the possibility before moving on to anything else.

You are getting this:

[code]

which means that `/usr/local/Cellar/node/0.12.2_1/libexec/npm/bin` must be on your path to be able to run `warriorjs` comm

[2015-05-16 14:10] oronbz commented on #2
Whe running /usr/local/Cellar/node/0.12.2_1/libexec/npm/bin/warriorjs it is working, so I guess adding this path to $PATH will work,

are you sure that the normal nodejs installation add this to $PATH by default?

because I didn't use the homebrew one, I've downloaded and install it from the official site.

[2015-05-16 14:45] olistic commented on #2
I assume you have previously installed node with Homebrew and then you decided to install it via the nodejs.org package. If that were the case, you might find the following in `/usr/local/lib/node_modules/npm/npmrc`:
[code]

which must be changed to:
[code]

If you change that line and reinstall the `warriorjs` package, it should work.

[2015-05-16 15:02] oronbz commented on #2
Thanks alot man!

[2015-05-16 15:02] #2 closed

[2015-05-18 05:31] LucioFranco opened #3 "Unexpected token"
When I try and run warriorjs on mac 10.10.3 with bash version 3.2 im getting this error
[code]

[2015-05-18 05:31] LucioFranco commented on #3
and node version v0.12.0

[2015-05-18 11:21] olistic commented on #3
You are probably trying to lunch the game from a directory where a .profile file is already in. The reason of that error is that the game is assuming that any file called .profile is a WarriorJS profile and tries to open it. Please try to launch the game from another directory, or pass it a directory via the -d option while I fix this bug.

[2015-05-18 13:46] Sheraff opened #4 "Error: ENOTDIR, not a directory"
With a local install `Flo@Florians-MacBook-Pro-3:~/Desktop/warriorjs$ sudo npm install warriorjs` on node v0.10.33, I get the following error:

[code]

[2015-05-18 13:56] olistic commented on #4
The problem here is that the binary is called `warriorjs`, and the game is trying to create a `warriorjs/chap-beginner` directory in the same place the binary resides, making the `warriorjs` binary collide with the `warriorjs` directory being created.

If you want a local installation, launch the game like this:
[code]

[2015-05-18 13:56] #4 closed

[2015-05-18 20:33] Kamahl19 opened #5 "Run code on every new level"
Hi,

how can I run some sort of config code to set some defaults on the begging of every level? When I run levels separately, I simple check if var is undefined however if I play an epic mode, it runs the config only once in 1st level.

Thanks

[2015-05-18 20:44] olistic commented on #5
Hello, could you please give an example of what you want to achieve, or how you are doing it actually?

[2015-05-18 21:02] Kamahl19 commented on #5
Thanks for quick reply.

Well at the beginning of each level, I would like to find out which wall is closer, left or right. I also want to set the _health to 20 so that it does not use the value from previous level. I also want to set if we already hit wall in this level etc..

[2015-05-18 21:19] Kamahl19 commented on #5
Here is my first version of AI for beginner levels http://pastebin.com/ChPCXnaJ As you can see I have a _setConfig method which I want to call at the beginning of each level.

[2015-05-18 21:20] olistic commented on #5
I don't know were you were putting your config logic before, but I think using a constructor for your warrior will fulfill your needs. Something like this:

[code]

The Player `constructor` will be executed at the beginning of each level, even in Epic mode.

[2015-05-18 21:25] olistic commented on #5
And don't use globals! With instance properties you'll be fine :)

[2015-05-18 21:26] Kamahl19 commented on #5
Yea I am just replacing the globals :) Ok thanks for the idea. Also can I somehow access warrior in constructor?

[2015-05-18 21:30] olistic commented on #5
Not directly, but this came to my mind that might solve whatever you want to do with the warrior:

[code]

It might be ugly but may do the trick ;)

[2015-05-18 21:30] Kamahl19 commented on #5
Yea I just did that but wanted a cleaner solution :) Thanks a lot for quick responses

[2015-05-18 21:32] Kamahl19 commented on #5
Dont you plan to deploy this online and let users create their AIs in online editors and then submitting them and compeating with each other?

[2015-05-18 21:34] Kamahl19 commented on #5
Maybe also let users create new levels to test AIs properly with much more levels. Or generate levels randomly so that AIs cant be created just for known levels but are generally working in whatever level.

[2015-05-18 21:36] olistic commented on #5
Yes, deploying a web version of the game is in the roadmap. I encourage you to open new issues with ideas. I'll close this to keep it neat.

Thank you for the support!

[2015-05-18 21:36] #5 closed

[2015-05-19 17:20] LucioFranco commented on #3
Yeah you are 100% correct about what the issue was. Just made another folder and than ran warriorjs inside of it and it worked. Thanks!

[2015-05-19 18:52] jdarling opened #6 "Array instead of string from look()"
Ok, so I didn't completely follow the directions and did a git clone of warriorjs and that means I probably have work in progress code.  Admitted :)

Now that we are on the same page, I've worked through differences easily enough in the code, until I got to the part where I have to start looking for wizards (level 8).  Problem is, seems in the next version look() is going to return a list of objec

[2015-05-20 01:57] olistic commented on #3
Fixing this issue by renaming the WarriorJS profile file will affect all existing player profiles, having a more expensive outcome than the one caused by this problem itself.

[2015-05-20 02:08] LucioFranco commented on #3
@olistic Maybe you should try and catch the error and give a friendly message about the issue. This way you will not break anyones games and the user can fix the issue like me.

[2015-05-20 02:16] olistic commented on #3
@LucioFranco Fair enough.

[2015-05-20 02:41] #3 closed

[2015-05-20 03:04] olistic commented on #6
I'm not quite sure I understand your concern. The `look` ability is returning an array of Spaces, not a string representation, and you can call any `Space` method on them... Please correct me if I misunderstood you.

[2015-05-20 14:56] jdarling commented on #6
I'll try it this way, what is the prototype for Space?  What methods, properties, etc are available on it for use?

Basic types should be documented somewhere, but I can't find it.  Initially I misread the readme for level 8 and thought look was supposed to return a string of characters (made sense) now I get the array of objects but no clue how to interact with them.

[2015-05-20 15:06] jdarling commented on #6
I'm guessing the answer is "Read the source" now that I think about it that makes sense, but I took it as everything you needed to know was in the README for each level.

[2015-05-20 15:10] olistic commented on #6
I wrote the WarriorJS wiki, where you'll have all the info needed to complete each level. Particularly, [here](https://github.com/olistic/warriorjs/wiki/Methods) is the list of methods you can call on a `Space`. I'll put a mention to it in the README of the repo. Thanks!

[2015-05-20 15:10] #6 closed

[2015-05-20 15:13] jdarling commented on #6
Thanks, not sure how I missed that :(

Really enjoy WarriorJS been a fun little exerciser and learned some new techniques even though I already use ES6 (with 6to5 and React) almost every day.

[2015-05-21 11:00] Aradiv opened #7 "Level 8 Captive Position Bug"
At Level 8 you start right on top of the ticking captive

(Captive on 5/0)
(Warrior on 5/0)
Either the warrior or the captive should be on 0/0 (i think the warrior should be there)

[2015-05-21 11:02] Aradiv opened #8 "Ticking doenst work"
Ticking captives exists even if the timer has run out.

[2015-05-21 12:29] #7 closed

[2015-05-21 12:31] olistic commented on #8
Thanks!

[2015-05-21 12:31] olistic commented on #7
Thanks!

[2015-05-21 12:53] DevGuy128 opened #9 "How to Get Past Level Four?"
Great program, but I am having a hard time getting past level four on beginner mode. Could you please help?

[2015-05-21 12:59] #8 closed

[2015-05-21 13:24] olistic commented on #9
To get past level four is crucial that your warrior rest, just like in level three. However, now you must check that you are not being attacked before resting. You should store your health in a Player's instance property at the end of each turn, and if your warrior is injured but the health at the end of past turn is greater than its current health, you should walk/attack instead of rest.

[2015-05-21 14:00] olistic opened #10 "Add ace score for levels 8 and 9 of intermediate tower"

[2015-05-21 17:40] AndreiBarsan opened #11 "Error when running from home folder"
I invoked `warriorjs` from `~` on OSX Yosemite and it complained because I already had a `.profile` file.

[code]

[2015-05-21 17:50] Juburin commented on #11
Dublicate of #3 .
Also look at the error message "Try changing the directory under you are running warriorjs."
Says all, doesn't it :smile:

[2015-05-21 17:53] olistic commented on #11
Will take the missing "which" into account. Thanks!

[2015-05-21 17:53] #11 closed

[2015-05-21 18:20] christopherdumas opened #12 "Error on going to next level after level 9 beginner mode"

[2015-05-21 18:30] olistic commented on #12
Please update the game by running:

[code]

If that doesn't fix your problem, please reopen this issue with a little more information about the error you are getting.

[2015-05-21 18:30] #12 closed

[2015-05-21 19:03] DevGuy128 commented on #9
I've been trying to do that, but I can't figure out what the code for it would be.

[2015-05-21 21:36] olistic commented on #9
I could give you a few pointers, but not the complete solution. After all, this game is intended to learn, and you won't learn anything if I do.

[code]

You can call the newly defined methods `isInjured` and `isUnderAttack` (and any other method you create in the future) from the `playTurn` method like this:

[code]

Good luck!

[2015-05-21 21:36] #9 closed

[2015-05-22 12:24] DevGuy128 commented on #9
Thanks!

[2015-05-23 08:40] apikurious opened #15 "How to get past level 9?"
I know this is supposed to make you learn... But I have been trying for 6 hours and I still cannot get past this stage. So I figured this is possibly the best my brain can do with the limited experience I have with javascript.

Firstly, I don't know what is the attack range of the wizards.
Secondly, I also don't know how to use the .look() ability.
But after fiddling with them a bit, I realized th

[2015-05-23 17:50] olistic commented on #15
You managed to get to level 9, so I'm sure your brain works pretty well! My recommendation: take a look at the source code, look at how the wizard's (and archer's) turn is played. The `look` ability returns an array containing the first three spaces in the given direction, so you can call any `Space` method on them, as you have done till now with `feel`.

When you start using abilities that return

[2015-05-23 17:50] #15 closed

[2015-05-23 21:07] olistic opened #16 "Add an advanced tower"

[2015-05-24 00:21] #10 closed

[2015-05-24 06:34] matita commented on #16
Yes, please

[2015-05-25 07:39] PandaWhisperer opened #17 "ES6ness: use `export class Player` instead of `global.Player = Player`"
Hey, just found your game through Twitter, neat idea! Wish I'd though of it...

Anyways, great to see it's ES6 ready. However, instead of using a global variable, the player code should probably [export the `Player` class instead](https://github.com/lukehoban/es6features#modules).

Otherwise, keep up the good work!

[2015-05-25 21:11] ShintoTuna opened #19 "rest() method doesn't update health();"
It seems that rest() method doesn't update health in current round;

if my current health is 15 and I'm doing

console.log(warrior.health());
warrior.rest();
console.log(warrior.health());

I'm getting both console logs 15.

Is this intended or am i missing something?

[2015-05-25 22:52] olistic commented on #19
When the `playTurn` method is executed, it *sets* the action to be performed in this turn, but it is not until the `performTurn` method (an internal method) is called that the action takes place. For that reason, you won't see any change in your health during the `playTurn` method. It will take place later :).

[2015-05-26 02:19] #19 closed

[2015-05-26 05:53] Lichtjaeger commented on #15
You use ES2015 (ES6) in warriorjs. So why not use ES5 methods?
A better way for this example is to use [Array.some()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/some) instead of Array.findIndex().

[2015-05-26 06:07] olistic commented on #15
I wanted to illustrate the possibility of using ES6 methods, like [Array.prototype.findIndex()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/findIndex). But yes, I agree with you on that [Array.prototype.some()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/some) would be better for this case.

This would be even be

[2015-05-26 06:38] olistic opened #20 "Health should not go under zero when taking damage"

[2015-05-26 06:39] #20 closed

[2015-05-26 16:07] KingScooty opened #21 "ES6 hints/tips for ES5 users."
Really like this concept. As someone looking to use more ES6 goodness in my code, it'd be nice to get some ES6 based hints for each level that'll help people like me start to use more ES6 concepts over ES5.

[2015-05-26 16:53] olistic commented on #21
Sure, I will definitely write a section containing useful hints for using ES6 concepts in the game, it's a good idea! Thank you for the support. Stay tuned.

[2015-05-26 16:53] #21 closed

[2015-05-26 23:45] olistic commented on #21
The [Tips & hints](https://github.com/olistic/warriorjs#tips-and-hints) section of the README is now published.

[2015-05-28 18:06] ecwyne opened #22 "Pathfinding"
Have you seen or considered using https://github.com/qiao/PathFinding.js?

[2015-05-28 20:13] olistic commented on #22
No, I've never seen it before but the project looks really really great! About using it in WarriorJS, I don't consider it appropriate. And the reason is that one of the difficulties of some levels (specially the ones that will come with the advanced tower) is that the players need to program their own path-finding algorithms using the different senses the warrior has available. And most of the tim

[2015-05-31 16:09] nylki opened #23 "get space of warrior"
Not sure if this is possible or not. Is it possible to get the space where the warrior is currently standing?
I might want to use that location later on.

I have an idea how to emulate this: when warrior.walk() -> `let comingFrom = `  opposite of current walking direction (if walking right, save left, if walking forward, save backward) -> next turn: save `warrior.feel(comingFrom)` for later use, a

[2015-05-31 17:07] olistic commented on #23
No, it isn't. May I ask why do you want to obtain your current location? Maybe I can think on other things you can do to get the same results.
About your idea, the `comingFrom` variable should be a property of the Player object (like `this._comingFrom`). If not, you won't be able to get it value in the following turn.

[2015-05-31 18:22] nylki commented on #23
To mark a dangerous location (more than 2 enemies in feel range). If at any next turn I come back close there, I can check before walking there, if it is actually a dangerous location. This of course only works, if enemies are ont moving (i am at level 4 currently, so not sure if thats gonna happen).

To your second remark: I have been able to store data outside of Player that remains in memory.

[2015-05-31 18:26] #22 closed

[2015-05-31 18:47] olistic commented on #23
You can store your warrior's position in an array with X and Y, starting at [0, 0], and the locations you found out to be dangerous in another array:

[code]

Then, anytime you consider your position to be dangerous, you can push it to your `dangerousLocations` array:

[code]

Of course, you'll have to update your current position each time you walk (I recommend creating an auxiliar function that

[2015-06-02 09:33] Aradiv opened #24 "Make senses less powerfull"
With the current warrior.listen() you can forget about all the other senses.
Just call warrior.listen() once at the beginning of the Level and you never have to use any senses again.

In my Opinion only the ticking captives/enemys? should be returned by listen. Other units remain silent.
This way you have to Look arround.
But but how about you can only determin the base class of the enemy with war

[2015-06-03 17:11] #23 closed

[2015-06-05 14:28] olistic opened #25 "Space and Turn proxies"
The objects passed to the Player (`Turn` as an argument of the `playTurn` method and `Space` as a result of using senses) should be proxy objects, containing only the methods the player is allowed to use.

[2015-06-06 01:46] #25 closed

[2015-08-31 20:03] amorphous1 opened #28 "player proxy of Space does not include method getDirectionOf"
I started warriorjs in intermediate difficulty and am stuck in level 4 when trying to free the two captives.

[code]
The last line in the test code above fails with
[code]

If I read the source correctly, the `listen()` call converts the spaces to "player objects" before returning them, which drops the method `getLocation()`. But `getLocation()` is needed for `warrior.directionOf()`.

If I'm just

[2015-09-01 15:07] olistic commented on #28
@amorphous1 Thank you for spotting this, the solution is already in progress.

[2015-09-13 21:07] #28 closed

[2015-11-16 06:33] #17 closed

[2015-12-08 04:47] newswim opened #29 "warriorjs command not creating directory"
I ran `npm install -g warriorjs` and then `warriorjs` and then nothing.

complained it couldn't find 'yargs', installed that, then i didn't have 'glob', installed that. Now it all works fine.. I think this is a dependency issue? I'm still kind of green to how npm does dependency management. Cheers!

[2015-12-08 12:07] olistic commented on #29
It is fixed in 1.2.2, just run `npm update -g warriorjs`.

This was indeed a problem with the dependencies. I hadn't noticed before cause npm v3 installs the dependencies in the project `node_modules` without nesting, and 'yargs' and 'glob' were already being installed by other dependencies. However, if you are running a version of npm < 3 (which is probably your case), then it complains.

Thanks!

[2015-12-08 12:07] #29 closed

[2016-06-30 10:12] flipace opened #30 "Make speed configurable"
It would be great if there were an option to make the speed of the terminal output configurable.

I couldn't find anything in the readme and it seems like the delay is hardcoded at the moment.
Any chance to make this configurable?

[2016-06-30 12:29] pawel2105 opened #31 "Command not found"
I've tried installing this but can't get it to work:

[code]

But then running it doesn't recognize the command:

[code]

[2016-06-30 12:45] ThomBogers opened #32 "Case sensitivity issue?"
When running warriorjs I get the following error:

[code]

When I check the constants location I find the following:

[code]

It seems warriorjs is looking for "directions.js" (lowercase) while the file name is "Directions.js"

When I symlink Directions.js to directions.js things seem to work fine

[2016-06-30 13:34] olistic commented on #30
You can configure the speed by using the -t option, followed by the time in seconds. The default is 0.6 seconds.

```$ warriorjs -t 0.3```

[2016-06-30 13:34] #30 closed

[2016-06-30 13:35] flipace commented on #30
thx!

[2016-06-30 13:36] olistic commented on #31
Please take a look at #2. Let me know if it solves the issue and I'll close this.

[2016-06-30 14:23] pawel2105 commented on #31
@olistic that was my problem :)

[2016-06-30 14:23] #31 closed

[2016-06-30 14:59] pawel2105 commented on #9
My JS ain't that good, although I'm pretty sure I'm on the right track. I've added my code to [this gist](https://gist.github.com/pawel2105/fa6c10a285890ce90b2215274fdc4a09) so as not to spoil for anyone. Would appreciate some guidance via a tip in the gist (do gist comments send notifications?)

[2016-06-30 15:09] olistic commented on #32
For some reason, the package `warriorjs-engine@0.10.0` in npm wasn't reflecting the exact output of the compilation using babel. I published a new version (v0.10.1), so running `npm uninstall -g warriorjs` and then `npm install -g warriorjs` should fix the issue.

[2016-06-30 15:30] #32 closed

[2016-06-30 15:30] ThomBogers commented on #32
Works fine for me now, thanks!

[2016-06-30 16:27] olistic commented on #9
@pawel2105 I just left a comment in your gist. Good luck!

[2016-06-30 20:10] janus opened #33 "Use the map function once"
The below code is not efficient. Please use the map function once
`  addAbilities(abilities = []) {
    abilities.forEach((newAbility) => {
      if (this.abilities.map(ability => ability.name).indexOf(newAbility.name) === -1) {
        this.abilities.push(newAbility);
      }
});`

[2016-06-30 22:56] #33 closed

[2016-07-01 00:34] olistic commented on #17
Thanks for the kind words. I ended up by refactoring it in a way it doesn't require any of them.

[2016-07-01 12:28] 1600 opened #34 "3"
2

[2016-07-01 12:30] #34 closed

[2016-07-04 01:49] rista404 commented on #30
Would be great if you could put that option in the README :)

[2016-07-04 02:46] olistic commented on #30
I added a note in the Usage section about the CLI options.

[2016-07-07 20:17] edsil opened #35 "Suggestion"
I didn't have node.js installed on my machine, so obviously the command to install the package didn't work and I spent a good amount of time to finally understand that I needed node.js. I suggest adding a note to the installation notes about having node.js installed.
Thanks.

[2016-07-07 20:27] edsil commented on #35
I (seem) to have installed it but I am not able to run it. This is what I've tried:

bash-3.2$ sudo npm install -f warriorjs
npm WARN using --force I sure hope you know what you are doing.
warriorjs@2.2.0 node_modules/warriorjs
├── bluebird@3.4.1
├── chalk@1.1.3 (escape-string-regexp@1.0.5, supports-color@2.0.0, ansi-styles@2.2.1, has-ansi@2.0.0, strip-ansi@3.0.1)
├── fs-extra@0.26.7 (path-is-abso

[2016-07-07 22:18] olistic commented on #35
I will add that to the installation notes, thanks.

Regarding the issue you're having, try to install the module globally with the -g option, not -f:

[code]

Then, you should be able to play the game just by executing `warriorjs` from any directory.

[2016-07-08 10:52] edsil commented on #35
Fantastic! Thank you very much, it has worked like a charm :-)

[2016-07-08 10:52] #35 closed

[2016-07-10 10:36] simonwulf opened #36 "Better error messages"
When an error occurs, it would be super useful to know what line it occurred on etc.

Love the game!

[2016-07-12 12:43] david-gang opened #37 "function to get the type of the enemy"
Hi,

I would like to get the information of the type of the enemy and not just if an enemy is at the certain unit.
This will make it easier to design a strategy.
Also in level 7 it was a bit odd because i was in the middle of two enemies and did not "know" (mean without looking at the README) if the archer was on the right or left side. This is a bit odd.

Thanks,
David

[2016-07-12 12:43] david-gang commented on #16
Would like to have two dimensional levels

[2016-07-12 15:21] olistic commented on #16
@david-gang The intermediate tower already adds two-dimensional levels. I was thinking on creating a new `Space` type, something like a pit of spikes, that is walkable (meaning you don't bounce like when you walk against walls) but if you do, you instantly die. Of course there will be also new abilities and units.

Any idea is more than welcome!

[2016-07-20 01:50] rorymurphyza opened #38 "IDE?"
Hi guys. Not so much an issue as a question.
What IDE do you recommend I work from to get started on this project? I am completely new to JS and I thought that playing this game would be a great way to get started.
I am currently using Visual Studio but it is not great with JS. IntelliSense doesn't work nicely and I can't compile to check for syntax errors. I have managed to make it to Beginner Le

[2016-07-20 03:09] tvl83 commented on #38
Check out webstorm. It's an awesome ide for web development. 30 trail
available. They changed they pricing structure so I don't know how much it
costs but it's worth the license fee. They update it regularly. I've used
webstorm and the other ides from that company, jetbrains, for a couple
years now and love them.

On Jul 19, 2016 8:50 PM, "rorymurphyza" <notifications@github.com> wrote:

[2016-07-20 14:44] mattwilsn commented on #38
I have used webstorm, sublime. I like them all for different reasons. Webstorm is more of a convention based as most of anything you will every need is built in. Where sublime is more configuration, plugins overload. I would say if you are doing front end ( html, js, css ) sublime is a good choice because  of how simple and light it is. If you are doing server side (node js ) or more complex work

[2016-07-20 15:18] nachoaIvarez commented on #38
@rorymurphyza I use Atom, but if you're starting out with JS, WebStorm will help you a lot! Give it a try!

[2016-07-21 04:19] rorymurphyza commented on #38
Thanks for the suggestions. I'm downloading WebStorm at the moment and looking forwards to getting going on it.

[2016-07-21 04:19] #38 closed

[2016-07-29 10:52] everystone commented on #38
[Visual Studio Code](https://code.visualstudio.com) is free and works great with ES2015 etc.

[2016-07-29 10:55] everystone commented on #36
This is a must have, especially for people new to javascript.

[2016-07-29 11:49] everystone opened #39 "Import classes from other files?"
Is import not supported in Player.js?

`import { MyClass } from './class.js'` results in `Cannot read property playTurn of null`

Have anyone found a workaround? Great game btw!

[2016-10-04 16:57] skillzzjesse opened #40 "Suggestion: add solutions"
I think you should create a page where you list all the solutions for each level.

Since this game is about learning I think you should be able to learn from your mistakes. I found myself stuck on a level and didn't know what to do.

I think being able to view the solution after you tried your best to solve it yourself helps you create better code, you gain good insight into how the code _should_

[2016-10-04 17:00] ericperez commented on #36
Right now when you have an error in the code the output simply says "Invalid submitted code. Check the syntax and try again."

Adding line numbers/columns where the issue(s) are would could be easily accomplished by running eslint on Player.js if there is a problem and would be a lot more helpful than the current output. Thoughts?

[2016-11-18 21:11] jproffitt3ge opened #41 "Free Ability - "Say" or "Think""
I found myself needing to determine when my warrior changed states, and realized there is no api for showing that in the flow of the simulation.

It would be nice if there was an ability that showed a message like: <Player> thinks "Hello World!" in line with the turns, just like any other action.

[2016-11-18 21:33] olistic commented on #41
Hey, I like it! It'd have to be a `Sense` rather than an `Action`, because senses are free. So I think that "Think" is the best choice.

Would you like to submit a PR to [warriorjs-engine](https://github.com/olistic/warriorjs-engine)?

[2016-11-18 21:39] olistic commented on #40
Hey, thanks for the suggestion. It's in my plans to create a landing site for the project and when I do, I will include solutions there.

[2016-11-18 21:41] #40 closed

[2016-11-19 13:05] skillzzjesse commented on #40
Cool! Looking forward to it!

Awesome project! Very good way to learn!

[2017-10-12 02:51] stlinjs opened #43 "Should i build a class "warrior"?"
here is my code
class Player {
    playTurn(warrior) {
        // Cool code goes here
        if (warrior.feel().isEnemy()) {
            warrior.attack();
        } else {
            warrior.walk();
        }
    }
}

The system told me " warrior.feel is not a function" after  running command "warriorjs" , so should i build a class "warrior"?

[2017-10-16 17:00] olistic commented on #43
Hello @stlinjs! What level is your warrior in? If it's level 1, `feel` (and `attack`) will not be available. Look at the README for that specific level :)

[2017-10-17 02:06] stlinjs commented on #43
Thanks for your reply! I'm in level 5 now . The program is getting more and more complex. Cause i  learn few about AI , could you tell me how to do it? How to make my own AI program ? I can not understand it in the game.

[2018-01-16 08:57] BrandedAlok opened #44 "i beg you please tell how to run the project i want to see output"
i beg you please tell how to run the project i want to see output

[2018-01-16 13:59] olistic commented on #44
1. Install Node.js if you don't have it already (you can do this from [nodejs.org](https://nodejs.org/))
2. Install WarriorJS: in the terminal, type `npm install -g warriorjs` and hit Enter
3. Run WarriorJS: in the terminal, type `warriorjs` and hit Enter

I'm closing this issue now, feel free to reopen if the previous steps don't work for you.

[2018-01-16 13:59] #44 closed

[2018-04-12 20:00] danielpa9708 opened #45 "Is there a way to make go faster"
I don't want to see all de moves, I just want to see if it succed or fails.

[2018-04-12 21:53] olistic commented on #45
You can make it go faster by passing the `-t` or `--time` flag to the `warriorjs` command, followed by the number of seconds between each turn. The default is 0.6.

This will make it very fast:
[code]

[2018-04-12 21:53] #45 closed

[2018-04-13 02:35] #43 closed

[2018-05-03 19:58] olistic commented on #36
@simonwulf @everystone @ericperez This is now part of the new `@warriorjs/cli`. Closing now.

[2018-05-03 19:58] #36 closed

[2018-05-03 21:41] olistic commented on #37
Hello @david-gang, I'm closing old issues to create a fresh backlog for the project. I'll evaluate your issue and consider adding it to the backlog. Thanks!

[2018-05-03 21:41] #37 closed

[2018-05-03 21:41] olistic commented on #41
Hello @jproffitt3ge, I'm closing old issues to create a fresh backlog for the project. I'll evaluate your issue and consider adding it to the backlog. Thanks!

[2018-05-03 21:41] #41 closed

[2018-05-03 21:42] olistic commented on #39
Hello @everystone, I'm closing old issues to create a fresh backlog for the project. I'll evaluate your issue and consider adding it to the backlog. Thanks!

[2018-05-03 21:42] #39 closed

[2018-05-03 21:42] olistic commented on #24
Hello @Aradiv, I'm closing old issues to create a fresh backlog for the project. I'll evaluate your issue and consider adding it to the backlog. Thanks!

[2018-05-03 21:42] #24 closed

[2018-05-03 21:43] #16 closed

[2018-05-03 22:03] olistic opened #46 "Add flag to CLI to suppress play log"
Sometimes you just want to see the outcome of the play (whether you passed the level or not) and not the play log. Running `warriorjs --silent` should make that possible. Example:

[code]

[2018-05-03 22:10] olistic opened #47 "Add flag to CLI to generate text READMEs"
Level READMEs in markdown format could be great if you're using some kind of markdown processor to read them. If you're not planning on doing so, having the markdown syntax laying around creates noise. Running `warriorjs --no-markdown` should take care of that, and output to `README.txt` instead of `README.md`.

[2018-05-03 22:39] olistic opened #48 "Add warrior score next to its health when printing the play log"
It could be a good addition to see the current score of the warrior in the play log. Example:

[code]

To make that possible, the core will need to include the unit's score along with the currently included fields.

[2018-05-04 13:19] olistic opened #49 "Enable Algolia search"
Enable search for the documentation using [Algolia DocSearch](https://community.algolia.com/docsearch) as described [here](https://docusaurus.io/docs/en/search.html).

[2018-05-04 13:47] #49 closed

[2018-05-04 13:50] olistic opened #51 "Show header icon on small devices"
By default, Docusaurus hides the header icon on small devices (<= 375px width) because there's still a title to show. In WarriorJS, we have disabled the title in the header so we shouldn't hide the icon.

[2018-05-04 14:04] #51 closed

[2018-05-05 05:28] olistic opened #54 "Enable support for multiple languages"
It would be nice if we supported multiple languages, which can be done via [Docusaurus integration with Crowdin](https://docusaurus.io/docs/en/translation.html).

[2018-05-05 18:43] #54 closed

[2018-05-08 17:51] olistic opened #60 "Units have a reward"
When killing an enemy, you [earn points equal to that enemy's max health](https://github.com/olistic/warriorjs/blob/6b90d0629e563ea664e822acf3914353c99c5a7c/packages/warriorjs-core/src/Unit.js#L160), but when rescuing a captive you earn the amount of [points defined by the rescue ability](https://github.com/olistic/warriorjs/blob/6b90d0629e563ea664e822acf3914353c99c5a7c/packages/warriorjs-abilitie

[2018-05-08 18:03] olistic opened #61 "Units are hostile or friendly"
Units are "hostile" or "friendly", instead of "enemy" or "captive". This gives greater flexibility.

With this change:

* Unit's constructor receives a `hostile` parameter that defaults to `true` instead of the [current `captive` parameter](https://github.com/olistic/warriorjs/blob/6b90d0629e563ea664e822acf3914353c99c5a7c/packages/warriorjs-core/src/Unit.js#L18).
* [Space's `.isEnemy()`](https://g

[2018-05-08 18:09] olistic opened #62 "Subtract reward when killing friendly unit"
Right now, you earn points [no matter if you kill a hostile or a friendly unit](https://github.com/olistic/warriorjs/blob/6b90d0629e563ea664e822acf3914353c99c5a7c/packages/warriorjs-core/src/Unit.js#L159-L161). Check if the unit is hostile before awarding the points and subtract them instead if the unit was friendly.

Blocked by: #60, #61

[2018-05-08 18:13] olistic opened #63 "Check if unit is alive after effect"
A negative effect could potentially kill a unit. We need to check if the unit is still alive after [executing each effect](https://github.com/olistic/warriorjs/blob/6b90d0629e563ea664e822acf3914353c99c5a7c/packages/warriorjs-core/src/Unit.js#L98) and return early if the unit died. Example: a "poisoned" effect (it doesn't exist, at least yet) that damages the unit turn by turn.

[2018-05-08 19:12] olistic opened #64 "Rescue ability awards unit's reward"
The [rescue ability awards a fixed amount of points](https://github.com/olistic/warriorjs/blob/6b90d0629e563ea664e822acf3914353c99c5a7c/packages/warriorjs-abilities/src/rescue.js#L17) for rescuing a captive unit. With the addition of the reward field, it should give those points now instead of the fixed amount.

Blockers: #60

[2018-05-10 23:50] RascalTwo commented on #48
What color would you like the score line to be?

![bright-yellow-warrior-score](https://user-images.githubusercontent.com/9403665/39899666-3f504bd8-548b-11e8-8fae-2c1e68c06fdf.png)

Bright Yellow looks good to me.

[2018-05-11 03:22] jakehamilton opened #69 "🐛 `console.log` not working in player.js"
# Environment

[code]

# Steps to reproduce

1. Install warriorjs

  + `npm i -g warriorjs`

2. Bootstrap with warriorjs

  + `warriorjs` (follow default config)

3. Open `Player.js` and add a `console.log('hello')` statement in the `playTurn` method

  + `playTurn () { console.log('Hello World'); }`

4. Run warriorjs

  + `warriorjs` (select your character to run)

5. The log is not displayed

#

[2018-05-11 06:07] olistic commented on #48
I like it! My only concern is that it looks like if it was more important than the health... Maybe regular yellow, or making the health bright red?

[2018-05-11 06:12] RascalTwo commented on #48
Regular yellow is already being used, see the captive being unbound. Figured you wanted to have as many elements uniquely coloured.

*****

Having the health bright red should be better, I'll make the PR tomorrow.

[2018-05-11 14:53] RascalTwo commented on #48
The bright red looks perfect.

*****

I only added `score` to the `.toJSON()` method of the `Warrior`, since - for now at least - only the `Warrior` needs it's `score` at the moment.

*****

I think the only documentation that needs updating due to the change is the Preview `.gif`. on the `README.md`

If you could tell me what color scheme is being used, I can update it. (I'm also a user of VSCode

[2018-05-11 15:30] olistic commented on #48
Thanks @RascalTwo!

Good call. Don't worry about it, I will update it later! (The color scheme is Nord, if you're still curious.)

[2018-05-11 16:34] #48 closed

[2018-05-11 16:51] olistic commented on #69
Hey @jakehamilton! Thanks for your detailed issue, I agree that something like this is needed (as other people have asked in the past: #41).

I'm going to take the time to think how this could be best implemented. I could inject `console` inside the VM context, but because of the way the play log is printed, the `console.log` calls would be hoisted instead of being inline with the play events. The

[2018-05-11 17:56] nloomans opened #71 "`warrior.feel()` exposes floor object"
# Environment

## System:
 - OS: Linux 4.13 Linux Mint 18.3 (Sylvia)
 - CPU: x64 Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz
 - Memory: 230.82 MB / 7.68 GB
 - Container: Yes
 - Shell: 5.1.1 - /usr/bin/zsh
## Binaries:
 - Node: 10.1.0 - /usr/bin/node
 - Yarn: 1.6.0 - /usr/bin/yarn
 - npm: 5.6.0 - /usr/bin/npm

**Note:** I manually replaced `npm` with `yarn` in the command.

# Steps to reproduce

1. R

[2018-05-11 17:57] jakehamilton commented on #69
@olistic thanks for the quick reply! So far I'm thinking something along the lines of `warrior.say()` would feel the best to use. Though, there is the issue of a name collision in the future should a warrior ever be able to `say` anything in the context of a level. Perhaps a separate logs section for each turn is a better solution?

`warrior.say` would need to have some thought put in to logging c

[2018-05-11 17:59] nloomans commented on #71
This will probably become an issue if #69 gets fixed. Since players can then easily discover this object.

[2018-05-11 18:10] olistic commented on #71
Hello @nloomans, thanks for the report. This is a known issue that was already fixed prior to the big refactor I recently made (see #26). I didn't cherry-pick those changes intentionally because I wanted to explore other ways of fixing this (maybe simpler/more elegant), e.g. Symbols for "private" properties. Let me put some additional thought on this, suggestions are also welcome.

[2018-05-11 18:29] nloomans commented on #71
Thanks! Symbols seem like a good solution. I did a few test and it should be noted that, while symbols are not accessible in the vm context, their content can still be printed using `console.log`. `JSON.stringify`, however, doesn't print symbols.

[2018-05-11 20:27] olistic commented on #48
@RascalTwo I'm going to update the GIF later, but I already added a screenshot to the [homepage](https://warrior.js.org) that shows your change!

[2018-05-11 21:08] olistic opened #74 "More beautiful welcome message"
Right now, the "Welcome to WarriorJS" message has a lot of room for improvement:

![screen shot 2018-05-11 at 18 06 13](https://user-images.githubusercontent.com/5600126/39946831-1e4e313c-5546-11e8-8465-418fbc021d22.png)

**Ideas and suggestions are welcome!**

[2018-05-11 21:09] joshstrange opened #75 "How to start intermediate mode game"
How do you start intermediate mode? I finished easy mode and I see references in the code and in issues about the intermediate mode but I can't figure out how to play it.

[2018-05-11 21:27] olistic commented on #75
Hello @joshstrange, the reason it's not available yet is because it's being play-tested. If you want to play it and give feedback, that'd be awesome. You can find instructions [here](https://spectrum.chat/warriorjs/help?thread=65415831-132a-4c15-8c75-848d941daffe).

Closing as there's no more action to take. Feel free to continue the discussion in the linked thread.

[2018-05-11 21:27] #75 closed

[2018-05-11 22:59] benfletcher commented on #69
`warrior.journal()` could log to a `journal.txt` file or just output to terminal.

Just a thought to keep the logging "in character" with the game, as if the warrior was carrying a journal and taking notes in it to aid progress.

[2018-05-11 23:16] olistic commented on #69
Another option in those same lines (but that doesn't interfere with the `warrior`'s namespace) could be to pass a `journal` parameter to the `playTurn` function that allows the player to log to said journal.

Example:
[code]

I'm not sure if I like it yet, though.

[2018-05-12 00:59] jakehamilton opened #76 "🐛 File path tests are broken on Windows"
# Environment

[code]

# Steps to reproduce

1. Clone the `warriorjs` repository on a Windows machine

+ `git clone https://github.com/olistic/warriorjs.git`

2. Install packages and configure project

+ `yarn`

+ `yarn build`

+ `yarn bootstrap`

3. Run the test suite

+ `yarn test`

# Expected Behavior

Tests should not be hardcoded to be platform dependent. The values should be normalized.

# A

[2018-05-12 07:08] GavinRay97 commented on #69
@olistic

I went ahead and made an example implementation of this because I wanted to see if I could check the enemy type ahead of me with `feel()` (is this cheating? :eyes:)

I exposed two functions to the Player instance, `this.say()`, and `this.debug()`

[code]

These are the results of calling
[code]

`say()` uses the Logger instance to pass what is supposed to be a short/concise log statement

[2018-05-12 07:10] GavinRay97 commented on #69
Just noticed there's a bug with the console styling switching between bold and not. I'll fix that later :joy:

[2018-05-12 09:13] TobbenTM opened #78 "CLI complains about (0 , _util.promisify) is not a function"
# Environment

## System:
 - OS: Windows 10
 - CPU: x64 Intel(R) Core(TM) i7-3930K CPU @ 3.20GHz
 - Memory: 4.99 GB / 11.94 GB
## Binaries:
 - npm: 4.2.0 - C:\Program Files\nodejs\npm.CMD

# Steps to reproduce

1. Install warriorjs `npm install --global @warriorjs/cli`
2. Run warriorjs `warriorjs`

# Expected Behavior

The CLI works

# Actual Behavior

[code]

[2018-05-12 09:16] TobbenTM commented on #78
Solved by upgrading from node v7.9.0 to v8.11.1, maybe include in requirements?

[2018-05-12 16:07] xeious opened #79 "Problem in installing warriorjs"
I tried to install warriorjs but I got this message:

`npm WARN @warriorjs/tower-beginner@0.1.0 requires a peer of @warriorjs/core@^0.0.0 but none was installed.
`
And when I try to run it by writing warriorjs in my terminal I got this message:

`/usr/local/lib/node_modules/@warriorjs/cli/lib/cli.js:23
async function run(args) {
      ^^^^^^^^
SyntaxError: Unexpected token function
    at createSc

[2018-05-12 16:45] olistic commented on #79
Hello @xeious. The warning you can ignore, it's getting fixed soon. As per the rest, there isn't enough information to go on, sorry. Please follow the issue template and try providing the data requested in it.

[2018-05-12 17:07] #76 closed

[2018-05-12 17:10] olistic commented on #78
Hello @TobbenTM, thanks for reporting the issue and how you solved it. I'm working on improving node support and I'm going to update the docs as well. Closing this now as there's no more action to be done here.

[2018-05-12 17:10] #78 closed

[2018-05-12 18:07] glenpierce commented on #79
Running `npm install --global @warriorjs/core` solved this issue for me.

[2018-05-12 18:19] glenpierce opened #80 "Cannot run on Windows 10 after initial install"
# Environment

'npx' is not recognized as an internal or external command,
operable program or batch file.

I'm running Windows 10 with npm version 4.5.0 and Node version 6.10.3

# Steps to reproduce

1. Install warriorjs by entering `npm install --global @warriorjs/cli` on the command line.
2. Install the dependency for warriorjs by entering `npm install --global @warriorjs/core`
3. Attempt to ru

[2018-05-12 18:30] glenpierce commented on #79
@olistic  thanks, I've created the ticket. the command for gathering my environment details failed. I've simply included my npm version (4.5.0) and node version (6.10.3) for now.

[2018-05-12 18:57] olistic commented on #80
Thanks for the detailed report. Yeah, `npx` is available starting with `npm` v5.2.0.

WarriorJS needs Node 8, if you update to that version this will no longer be an issue. As stated in #78, I'm working on improving Node.js support (at least add Node 10 compatibility) and document the requirements.

I'm closing this now, feel free to re-open if you're still having issues after upgrading to Node 8.

[2018-05-12 18:57] #80 closed

[2018-05-12 18:59] olistic commented on #79
@xeious I'm closing this in favor of #80. If after following the resolution steps there (upgrade to Node 8) you're still having issues, please open another issue following the issue template. Thanks!

[2018-05-12 18:59] #79 closed

[2018-05-13 00:30] malob opened #84 "`feel()` sense does not seem to account for warrior movement during turn"
# Environment
## System:
 - OS: macOS High Sierra 10.13.4
 - CPU: x64 Intel(R) Core(TM) i7-7567U CPU @ 3.50GHz
 - Memory: 1.40 GB / 16.00 GB
 - Shell: 2.7.1 - /usr/local/bin/fish
## Binaries:
 - Node: 8.9.2 - /usr/local/bin/node
 - npm: 6.0.0 - /usr/local/bin/npm

# Steps to reproduce
Run the following code on level 4 in the beginner tower:
[code]
# Expected Behavior
First turn:
* `this.emptyAhead

[2018-05-13 00:31] Rbagman opened #85 "Crashes after reporting no warriorjs directory found."
# Environment
System:    Host: hostname Kernel: 4.10.5-antix.1-486-smp i686 bits: 32 gcc: 6.3.0 Desktop: IceWM 1.4.2
Distro: antiX-17_386-base Heather Heyer 24 October 2017

$ npx envinfo --system --binaries --npmPackages *warriorjs* --npmGlobalPackages *warriorjs* --markdown

npx: installed 1 in 3.202s
(node:22914) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'devDependencies

[2018-05-13 00:46] RascalTwo commented on #64
Quite a small PR, just a couple lines of code and documentation updated.

Allows level designers to make captives more or less valuable, giving the player a possible choice between risk and reward.

[2018-05-13 01:10] olistic commented on #85
Hello @Rbagman, thanks for your interest in the project! Looking at the output of `mkdir`, it seems that you don't have permissions to create a directory on the directory under which you're running `warriorjs`. Try changing the directory before running `warriorjs` or passing the [`-d` option](https://warrior.js.org/docs/en/cli.html#directory-path). If that doesn't solve the issue, I'd need more in

[2018-05-13 02:08] RascalTwo commented on #84
The problem is that senses are executed instantly when called, while actions are stored to be performed at the end of the turn.

https://github.com/olistic/warriorjs/blob/594712f0024ed5ae690b5a0aa96cd62d1464b8b4/packages/warriorjs-core/src/Level.js#L47-L48

You see, `prepareTurn()` eventually runs the player-defined `playTurn()`, which executes everything on the `Turn` object. All the senses get e

[2018-05-13 02:54] JayAndCatchFire commented on #37
FWIW, I think this should be left up to the player to do.

For example, as of level 5 I have the following code to detect the type of thing using an enumerable instead of just relying on the Space API.

[code]

Part of the joy of this game for me is working _around_ the Warrior API and Space API.  It's not that they're bad APIs.  They're just minimalistic.

[2018-05-13 02:58] JayAndCatchFire commented on #39
@olistic I also ran into this one.  It would be nice to be able to split up my code into units that make a little more sense, maybe with `.mjs` Node modules.  Do you want me (or @everystone) to open a new ticket for this?

[2018-05-13 05:59] pajtai commented on #69
I found using the debugger super helpful.

It's easiest with a local npm install:

[code]

and then add an index.js as follows

[code]

now you can debug with:

`node --inspect index.js` - just drop a debugger in player.js and play around with the commands.

[2018-05-13 15:54] Rbagman opened #88 "Re: No warriorjs directory found, would you like to create one?"
I just tried reinstalling as a regular user and I don't have permission to access that file. If I su the game runs as reported on your getting started page.

I checked to see if it was installed elsewhere.

Welcome to WarriorJS
? No warriorjs directory found, would you like to create one? Yes
(node:5527) UnhandledPromiseRejectionWarning: Error: EACCES: permission denied, mkdir '/usr/lib/node_modul

[2018-05-13 16:34] kdorland opened #89 "Invalid submitted code. You must define a Player class!"
Game seems to be bugged in my environment (Windows 10, newest nodejs just installed). I'm getting the following:

![image](https://user-images.githubusercontent.com/579527/39969441-f942a8c2-56db-11e8-9c56-ce79064307cd.png)

# Environment
C:\Users\krist>npx envinfo --system --binaries --npmPackages *warriorjs* --npmGlobalPackages *warriorjs* --markdown
npx: installed 1 in 2.464s
The "path" argument

[2018-05-13 17:27] olistic commented on #89
Hello @kdorland, thanks for your interest in the project! Node 10 is failing to copy the template code due to a problem with one of the warriorjs' dependencies that wasn't compatible with that version. I have already updated that in #81, I'm going to publish a new release soon. Meanwhile, you should be able to play using Node 8 (the LTS version).

I'm going to close this now as there's no more act

[2018-05-13 17:27] #89 closed

[2018-05-13 17:51] #64 closed

[2018-05-13 18:02] williamgurney commented on #9
@olistic Hi, really enjoy the game however struggling with the above.
Everything goes okay however my warrior does not rest enough to beat the final sludge, he will rest for one turn then walk the other!

Would appreciate some guidance if possible? It feels like such a small thing.
`
class Player {
  constructor() {
    this._health = 20;
  }
  playTurn(warrior) {
    if (this.isInjured(warrior) =

[2018-05-13 20:26] olistic commented on #39
Hello @JayAndCatchFire, thanks for your interest in the project. Yeah, go for it! I'm open to receive a PR that adds that capability. Thanks again.

[2018-05-13 20:36] RascalTwo commented on #74
The only idea I can think of is having the logo in the terminal:

![current logo](https://github.com/olistic/warriorjs/raw/master/logo/warriorjs-banner-dark.png?raw=true)

![warriorjs-ascii](https://user-images.githubusercontent.com/9403665/39971534-d18de2f8-56ca-11e8-911d-d1073ba5e185.png)

It's got some work to be done before being perfect - mainly on the sword - but it looks better then nothing

[2018-05-13 20:38] olistic commented on #9
Hi @williamgurney! I left a [comment](https://gist.github.com/williamgurney/080809c689fbf5f7b848a859c0bb8a17#gistcomment-2588101) in your gist, cheers!

[2018-05-14 02:58] GavinRay97 commented on #69
@pajtai Ahhh, I didn't think of that. I thought about running with the `--inspect` command but then realized `warriorjs` was a bin and not ran via Node. That's much more clever, though! :+1:

[2018-05-14 11:17] phil-r opened #95 "Consider changing the default directory name"
Some people have [`AUTO_CD` or `AUTOCD`](http://zsh.sourceforge.net/Doc/Release/Options.html) set (afaik it's set by default in [`Oh My Zsh`](http://ohmyz.sh/)), therefore after after running `warriorjs` for the first time every next `warriorjs` call is the same as `cd warriorjs`.

P.S. I know about `--directory` option but anyway, maybe it will be better to change default dir name 😳.

[2018-05-14 13:48] froehlichA commented on #61
If you plan to support additional friendly characters that are friendly, but not captive (for example, NPC shopkeepers) further down the road, I would suggest adding the ``.isFriendly()`` next to the ``.isCaptive()`` method, so that you have two super types: "hostile" and "friendly", and "captive" as a sub type of "friendly".

[2018-05-14 14:12] olistic commented on #61
Hello @froehlichA! Thanks for your interest in the project. Regarding this issue, my plan is to make the core as generic as possible. For that matter, being able to distinguish between hostile and friendly units is enough, leaving the semantics of what a captive is to the towers (some towers may not even define them). For the existing towers, for example, a captive is a unit that is friendly and i

[2018-05-14 16:44] froehlichA commented on #61
Currenty, the beginner tower uses the units imported from warriorjs/units. Why are these units defined in this seperate package, and not in the beginner tower source? Are they there for other tower creators to expand upon?

If you want to make the core as generic as possible, I would just put basic unit types, that provide a basis to build upon, in the @warriorjs/units package and leave the rest t

[2018-05-14 17:45] olistic commented on #95
Hey @phil-r! Yup, I'm aware of that (I have that option enabled myself 😂). However, I think the current names are the ones that make the most sense (both binary and directory) and I don't think this is big enough to motivate a change (specially with `--directory` in place and the possibility to [start the game from a profile directory](https://warrior.js.org/docs/en/cli-tips.html)).

I'm closing t

[2018-05-14 17:45] #95 closed

[2018-05-14 18:26] froehlichA opened #96 "Defining unit detection on units themselves"
In the current state of the project, there are two methods in the Space API to check the unit type:

- [``.isEnemy()``](https://github.com/olistic/warriorjs/blob/8cff7af1a2e6ceb8104f263adc289fc5675e108e/packages/warriorjs-core/src/Space.js#L60-L67) (which checks if the unit is neither player, captive, or bound)
- [``.isCaptive()``](https://github.com/olistic/warriorjs/blob/8cff7af1a2e6ceb8104f263a

[2018-05-14 19:42] JayAndCatchFire opened #99 "Feature request: Allow import/require for modularity of user code"
Originally mentioned in https://github.com/olistic/warriorjs/issues/39, it would be a great improvement to code organization if users like myself could split our code into modules (*.js and *.mjs) that could be loaded into the Player.js file (via `import` and/or `require`).

It doesn't appear that this is supported at the moment.  That means that a _lot_ of code ends up in Player.js.  At various t

[2018-05-14 19:49] olistic commented on #99
Hello @JayAndCatchFire and thanks for creating this issue. I'm open to receive a PR that implements this.

[2018-05-14 19:55] JayAndCatchFire commented on #99
I'll be happy to take a crack at it, but I can't guarantee anything forthcoming immediately.  So much to do and so little time.  So if anyone else sees this ticket and wants to try their hand, please do!

[2018-05-14 20:01] olistic commented on #99
Please comment here if you grab this so I mark it as claimed.

[2018-05-14 20:23] froehlichA opened #100 "Support for community towers"
Currently, only the beginner tower is supported in the game. To add other towers, one has to manually rewrite the source code [like shown here](https://spectrum.chat/thread/65415831-132a-4c15-8c75-848d941daffe).

Maybe the cli could scan for node modules beginning with ``warriorjs-tower-`` in the ``warriorjs`` directory and try to load the respective towers.

[2018-05-14 20:33] olistic commented on #100
This is something I was going to work on after finishing the documentation for tower makers (currently in progress). But please feel free to expand on this idea, I like it.

[2018-05-15 02:32] xMrWhite commented on #99
looks like this can be achieved using `vm.Module`, but this is an experimental feature. I think this would also have to be feature flagged.

[2018-05-15 08:39] pigalot commented on #84
Would it not make sense to return the desired action from playTurn that way it would be clear that the action happens last. It also may be wise to seperate the actions so it is clear that they are actions.

[code]

[2018-05-15 16:54] #62 closed

[2018-05-15 18:32] olistic commented on #69
@jakehamilton @benfletcher @GavinRay97 @pajtai I decided to implement a basic solution for this issue in #102. Please check it out (and maybe try it), any feedback is appreciated.

[2018-05-15 18:39] mattdiamond opened #103 "Suggestions for expanding the API"
Not sure if we're supposed to be able to use this function, but the docs for the Space API don't indicate that you can inspect the unit on a given space by calling `space.getUnit()`. Is there a reason that was left out, or was that just an oversight?

[2018-05-15 18:43] olistic commented on #103
Hey @mattdiamond, thanks for your interest in the project! This (and #71) is part of the private API players shouldn't be able to access to prevent cheating. I'm currently working on a fix.

[2018-05-15 19:06] olistic opened #104 "Warrior should be upset when losing points"
Currently, the warrior [is proud of earning points](https://github.com/olistic/warriorjs/blob/fbc5c10c30124f45bb876a6ef2a5a6d59ec36436/packages/warriorjs-core/src/Warrior.js#L37-L40), but he or she should also be upset for losing points.

[2018-05-15 19:25] Pyjong opened #105 "SyntaxError: Unexpected token function"
Hi,
I am sorry if this is something simple, but I really have tried. I am running the thing from Windows Bash. The install line works fine (with sudo). Running warriorjs however gives following output:

[code]
What's wrong?

[2018-05-15 19:38] olistic commented on #105
Hello @Pyjong! This is a duplicate of #80. Next time, please take the time to read and follow the issue template when submitting a new issue. WarriorJS requires Node >= 8 to work.

[2018-05-15 19:38] #105 closed

[2018-05-15 21:09] mattdiamond commented on #103
@olistic Gotcha! Hmm, guess I'll have to rethink my strategy for the last beginner level. It would be nice if I had some way of knowing which direction damage was coming from, if I can't tell the difference between ranged and melee units...

[2018-05-15 21:36] mattdiamond commented on #103
Sure. On the topic of "what would make my life easier", my difficulty on the final level is the task of prioritizing which enemy to attack first. The hero has a melee opponent a few spaces ahead and a ranged opponent a few spaces behind. I can obviously detect on the 2nd turn that I took damage, but the hero has no way of knowing if the ranged attack is coming from the enemy ahead of him or behind

[2018-05-15 22:59] Pyjong commented on #105
Right, thanks!

[2018-05-15 23:06] olistic commented on #71
@nloomans I opened a PR with a fix for this, just letting you know in case you're curious.

Symbols ended up not being a good solution for this, because one could still access the "private" members by using [`Object.getOwnPropertySymbols`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/getOwnPropertySymbols).

[2018-05-16 02:20] skywalker212 commented on #104
can i work on this?
I have to modify the losePoints method, right?

[2018-05-16 02:37] olistic commented on #104
Hey @skywalker212, of course! Units can earn or lose points, but they do so silently. In case of the warrior, we want to log that using `.say()`. We are already doing that for `earnPoints` [here](https://github.com/olistic/warriorjs/blob/fbc5c10c30124f45bb876a6ef2a5a6d59ec36436/packages/warriorjs-core/src/Warrior.js#L37-L40). Now we need to do the same for `losePoints` (override its implementation

[2018-05-16 02:38] skywalker212 commented on #104
okay!

[2018-05-16 02:45] skywalker212 commented on #104
https://github.com/skywalker212/warriorjs/commit/f6fcd253d3cdf8d35353b90577a437501228e696
@olistic please review.

[2018-05-16 02:51] olistic commented on #104
@skywalker212 Looks good, you should open a PR for review though!

[2018-05-16 02:54] skywalker212 commented on #104
@olistic okay!

[2018-05-16 03:12] RascalTwo commented on #74
I made the sword more sword-like when implementing your changes, and it looks nice with the colored sword:

![warriorjs logo](https://user-images.githubusercontent.com/9403665/40094490-5d21a7ac-5895-11e8-928c-9b20c2ca1d34.png)

[2018-05-16 07:08] nicolaelitvac opened #109 "CLI is not running because of an error."
# Steps to reproduce
Install warriorjs:
`$ npm install --global @warriorjs/cli`
Run worriorjs:
`$ warriorjs`
Error in the console:
[code]
## System:
 - OS: macOS High Sierra 10.13.4
 - CPU: x64 Intel(R) Core(TM) i7-4960HQ CPU @ 2.60GHz
 - Memory: 2.11 GB / 16.00 GB
 - Shell: 3.2.57 - /bin/bash
## Binaries:
 - Node: 6.11.2 - /usr/local/bin/node
 - npm: 6.0.0 - /usr/local/bin/npm

[2018-05-16 12:32] #61 closed

[2018-05-16 12:33] RetroGamer547 opened #110 "Mobile browser based version possible?"
I would like to request a browser based version for mobile because I currently can’t play.  Would this even be possible?  It also should help the game expand further beyond github and product hunt.

Happy coding! -Retro

[2018-05-16 12:35] RetroGamer547 commented on #110
Perhaps with its own little website like Paperclips or Kittens?

[2018-05-16 12:37] olistic commented on #110
Hello @RetroGamer547! A web version of the game is in the works, will be available at [warriorjs.com](https://warriorjs.com). Stay tuned!

[2018-05-16 12:37] #110 closed

[2018-05-16 12:39] olistic commented on #109
Hello @nicolaelitvac! This is a duplicate of #80. WarriorJS [requires Node >= 8](https://warrior.js.org/docs/en/set-up.html) to work.

[2018-05-16 12:39] #109 closed

[2018-05-16 12:42] TheHolyWaffle opened #111 "Malformatted CLI output"
![image](https://user-images.githubusercontent.com/787914/40117295-d48f9926-5916-11e8-93ff-23ac7a60035c.png)

## System:
 - OS: Windows 7
 - CPU: x64 Intel(R) Core(TM) i7-6820HQ CPU @ 2.70GHz
 - Memory: 9.43 GB / 15.67 GB
## Binaries:
 - Yarn: 1.6.0 - D:\Program Files\Yarn\bin\yarn.CMD
 - npm: 5.3.0 - C:\Program Files\nodejs\npm.CMD

# Steps to reproduce

Run warriorjs on first stage

# Expected B

[2018-05-16 12:44] RetroGamer547 commented on #110
Awesome! Thanks :)

[2018-05-16 15:26] olistic opened #112 "Diamond character in score is broken on Windows CMD"
# Environment

## System:
 - OS: Windows 10
 - CPU: x64 Intel(R) Core(TM) i5-6300HQ CPU @ 2.30GHz
 - Memory: 4.47 GB / 7.88 GB
## Binaries:
 - npm: 5.6.0 - C:\Program Files\nodejs\npm.CMD

# Steps to reproduce

Run any level of WarriorJS in Windows' CMD.

# Expected Behavior

Warrior status shows a diamond character for the score.

# Actual Behavior

Warrior status shows an unrecognized character

[2018-05-16 15:29] olistic commented on #112
♦ (_Black Diamond Suit_ in the Miscellaneous Symbols unicode block) is a safe alternative for the currently used ⬥ (_Black Medium Diamond_).

[2018-05-16 15:38] olistic commented on #111
Hello @TheHolyWaffle, thanks for reporting this bug. I couldn't reproduce it. I wonder if it has to do with the diamond character next to the score being broken on Windows (for which I created #112).

Now, for me to be able to troubleshoot this, I'd need to know:

* Did this break in level 2 or was also broken in level 1?
* What's the code in `Player.js`?

Thanks!

[2018-05-16 15:48] RetroGamer547 commented on #110
Does this website belong to you? http://jswarrior.fusioncharts.com/

-Nathan

[2018-05-16 16:38] RetroGamer547 commented on #110
Huh. Ok

-Nathan

[2018-05-16 17:50] jack45j commented on #111
Same problem here. And I think it broke in every level.
![default](https://user-images.githubusercontent.com/12241340/40134329-a8203d7e-5974-11e8-96d9-c1a4c4a72f6b.png)

[2018-05-16 22:39] #71 closed

[2018-05-16 23:09] olistic commented on #103
@mattdiamond I just released v0.3.0, which reorganizes the [Player API](https://warrior.js.org/docs/space-api) a bit. This should align the codebase better with some additions that could come in the future, like `.isMelee()` and `.isRanged()` for the Unit API.

[2018-05-16 23:17] mattdiamond commented on #103
@olistic Ah, so ‘space.getUnit’ is legal after all? Nice. I’m curious how other players programmed the warrior without this feature available. Is there a message board where people share their designs?

[2018-05-16 23:26] olistic commented on #103
@mattdiamond Well, it's legal but it doesn't include anything that the Space API didn't include before. I just moved the methods that were related to units to the Unit API, and made that "restricted" version of the unit available through `space.getUnit()`. So you won't be able to access `unit.abilities`, for example (that's being enforced now in v0.3.0).

There is a Show & Tell in the Spectrum com

[2018-05-16 23:29] olistic commented on #69
WarriorJS v0.3.0 includes a `think` ability that can be used as an alternative for `console.log`. It's not perfect yet, but I think it's good enough for now. Let me know if you have any feedback, I'm closing this ticket now.

[2018-05-16 23:29] #69 closed

[2018-05-17 02:15] jack45j commented on #111
I'm using the integrated terminal of visual studio code.
I'm not in my office right now so I will test the character issue later.

[2018-05-17 09:35] Eveneit commented on #74
I'm not versed in ASCII art, so instead of a full-fledged logo I've designed this little thing (in ~1min so I'm sure someone can do way better with some work !)  :
![warrior2](https://user-images.githubusercontent.com/5458121/40168981-34d73f60-59c5-11e8-86e7-69c8aa3ee940.png)
Imo this kind of little logo it is closer to the "design" of the game than RascalTwo's proposition.

Else I've got two nice

[2018-05-17 11:56] netzulo commented on #99
Pleasee i need some of this!!!! :)))))

[2018-05-17 14:16] #104 closed

[2018-05-17 14:45] calamina opened #116 "Simple feature : Display abilities learned in game"
At the moment we discover new abilities in the readme only (which is pretty logic since we can implement them right away).

Though I feel it could be a nice addition to the endlevel score like :

`Abilities learned : *****`
or
`warriorname  learned *****`

It would feel like an additional "reward" for completing the level !

[2018-05-17 16:25] antony opened #117 "naming conflicts on ZSH"
In ZSH, shell interpretation causes `warriorjs` not to run after the initial profile is created.

# Environment

## System:
 - OS: Linux 4.13 Ubuntu 17.10 (Artful Aardvark)
 - CPU: x64 Intel(R) Core(TM) i7-5500U CPU @ 2.40GHz
 - Memory: 243.71 MB / 7.70 GB
 - Container: Yes
 - Shell: 5.2 - /usr/bin/zsh
## Binaries:
 - Node: 9.5.0 - ~/.nvm/versions/node/v9.5.0/bin/node
 - npm: 5.6.0 - ~/.nvm/versio

[2018-05-17 16:26] antony opened #118 "Linux/Unix/Darwin user profile conflicts with warrior profile filename"
In a Linux or Unix or Darwin shell, the profile name `.profile` conflicts with the user's local profile.

# Environment

## System:
 - OS: Linux 4.13 Ubuntu 17.10 (Artful Aardvark)
 - CPU: x64 Intel(R) Core(TM) i7-5500U CPU @ 2.40GHz
 - Memory: 243.71 MB / 7.70 GB
 - Container: Yes
 - Shell: 5.2 - /usr/bin/zsh
## Binaries:
 - Node: 9.5.0 - ~/.nvm/versions/node/v9.5.0/bin/node
 - npm: 5.6.0 - ~/.nv

[2018-05-17 16:28] antony commented on #88
I recommend using `nvm` to manage your node installation, meaning you don't need to do anything as root (or with sudo), and your installed binaries will be automatically available without manual symlinks.

See [https://github.com/creationix/nvm](https://github.com/creationix/nvm) for more details.

[2018-05-17 17:05] olistic commented on #118
Hello @antony and thanks for your report. The reason that happens is because there's a feature that auto-selects the profile if you're running `warriorjs` from a profile directory (the directory named after your warrior/tower combination), which has a `.profile` file. If the contents of `.profile` are not what warriorjs expects, that could be because the file doesn't belong to the game (like in th

[2018-05-17 17:05] #118 closed

[2018-05-17 17:13] olistic opened #119 "Improve detection of profile directory for auto-select feature"
When running `warriorjs`, the first thing that is checked is if we are running the game from a profile directory, so we can auto-select that profile and avoid prompting the user. The method used to determine if we are in a profile directory is looking for a `.profile` file in the run directory. However, this method can lead to unwanted situations, as it was reported in #3, #11 and #118.

The propo

[2018-05-17 17:16] olistic commented on #117
Hello @antony, this is a duplicate of #95 (related to the `AUTO_CD` option of zsh). Closing this, please comment there if you have any suggestion. Thanks!

[2018-05-17 17:16] #117 closed

[2018-05-17 21:15] Eveneit commented on #111
Ok I've found a working solution, the text is now displaying and animating properly.
Can someone using Windows test it ?

In `C:\Users\*username*\AppData\Roaming\npm\node_modules\@warriorjs\cli\lib\ui`
or `C:\Users\*username*\AppData\Roaming\npm\lib\ui`

Open printBoard.js and change line 25 :
`const warriorStatusRows = 2;`
to
`const warriorStatusRows = 4;`

![warriorok](https://user-images.github

[2018-05-17 21:38] Eveneit commented on #74
Small update to show how it looks ingame :

![warriorlogo](https://user-images.githubusercontent.com/5458121/40205163-55209828-5a2b-11e8-91a1-3a6696fe5ce0.png)

[2018-05-17 21:59] olistic commented on #111
Hey @Eveneit! Thanks for the efforts you're putting on this. I think I know what's going on thanks to you, and I'm working on a fix. I'll let you know when it's done and, if you could test it, that'd be awesome!

[2018-05-18 00:03] olistic commented on #111
@Eveneit the possible fix was pushed to #120.

[2018-05-18 00:12] olistic commented on #112
Hey @Eveneit, I saw you fixed this when troubleshooting #111. Would you like to submit a PR?

[2018-05-18 00:14] xMrWhite commented on #99
@netzulo  you can work around it by importing your code as a string and call eval(code)

[2018-05-18 00:54] olistic commented on #99
I published a tutorial on how this can be achieved using a module bundler [here](https://spectrum.chat/?t=99b2fcf7-18d3-4c88-b441-9588d3977560).

[2018-05-18 00:58] glneto commented on #112
@olistic do you want that changed for every OS or do you want to keep the Black Medium Diamond for non-windows OS?

[2018-05-18 01:14] #112 closed

[2018-05-18 02:48] jack45j commented on #111
It works like a charm. 😂

[2018-05-18 02:51] olistic commented on #111
@jack45j Which one: @Eveneit's [fix](https://github.com/olistic/warriorjs/issues/111#issuecomment-390014137) or #120? The former is a valid workaround, but is not a fix because it'll break those platforms where this is working correctly. #120 is potentially a fix for everyone, but I'd need confirmation from someone experiencing this issue.

[2018-05-18 03:33] jack45j commented on #111
The @Eveneit's fix. I changed `warriorStatusRows` to 4 and the output issue just solved on windows7. But I thought the key point occurs this issue is not caused by this variable.

[2018-05-18 12:13] VarPDev opened #123 "Mode with random enemies"
whenever you start the mode the enemies and the map are random

[2018-05-18 14:10] pigalot opened #124 "Unable to detect the direction you are taking damage from."
I propose adding a function to the player API to check what body part has an arrow sticking out of it or has been burnt by magic.

Currently to complete the beginner tower you need to make assumptions on the direction of the most lethal enemies. Currently adding an extra level and swapping two enemies would make epic near impossible.

[2018-05-18 15:47] 383366204 opened #125 "How to get an unit？"
i read you documentation --> unit.isFriendly()
so I wrote this:
[code]
but the terminal show:
Invalid submitted code: Cannot read property 'isFriendly' of undefined

My English is not good , can you tell me how to get the unit.
thanks

[2018-05-18 16:29] olistic commented on #125
Hello @383366204! `warrior.feel()` returns a space, so it's correct calling `.getUnit()` on it. However, not all spaces have units on them. You should check if there is a unit before trying to call methods like `.isFriendly()` on them.

[code]

P.S.: When reporting a problem, please try to follow the issue template and provide the data requested in it.

[2018-05-18 17:46] GiantZOC opened #126 "Enhance unit api to get unit type"
I don't think the warrior can make proper decisions unless it knows what units it is facing.  For example the warrior may be forced to charge into an archer or simply step away from a slime.

[2018-05-18 18:20] olistic commented on #124
Hello @pigalot! Thanks for your input on this. I'm moving this comment to #103 and closing this issue. Let's have the discussion there.

[2018-05-18 18:20] #124 closed

[2018-05-18 18:20] olistic commented on #103
@pigalot

[2018-05-18 19:03] mattdiamond commented on #103
I partially agree with the above comments. I think that the player needs to know at least one of two things:

1) the direction a specific attack came from, OR
2) the type of the units that are visible to the warrior

[2018-05-18 19:27] pigalot commented on #103
I think damage type and direction would be needed.
For example:

[code]

One unit is far more dangerous than the other and attacking the wrong one would be nere instant death.

I think the unit type is a bad idea maybe something else like features. Holding a bow or a staff, that way it can be expanded later a red hat and a staff etc and would catch you out if you don't update.

[2018-05-18 19:51] olistic commented on #103
Initially, I was thinking on adding a sense `warrior.wounds()`. This would return an array of the wounds gotten by the warrior in the last turn. Each wound would have a direction (forward, right, backward, or left) and a damage amount. That would allow the player to identify where the greatest damage is coming from and subsequently, where the greatest threat is located. Thoughts?

[2018-05-18 20:27] pigalot commented on #103
Would that also include if a wound inflicted a effect like poison?

[2018-05-18 20:50] JayAndCatchFire opened #127 "Feature request: Regression tests on each new run"
I don't necessarily assume this is the case for all players of the game, but as I develop my AI "player" I'm intending on building up an expert system that can handle any level in the domain of how a level is defined. Each new level (in the first tower at least) expands the level domain over the previous level.

However, one could theoretically write a "player" on each level that can only handle t

[2018-05-18 21:01] JayAndCatchFire opened #128 "Feature request: randomized levels"
Once play of the game gets high enough, I think it would be cool to have randomized levels.

Care should be taken so that the levels are generated deterministically given a PRNG state. The PRNG seed could be made available so players could share it and compete with each other and replay a given generated level.

Also, if the level generator is deterministic, there could be a "level of the day" tha

[2018-05-18 21:03] JayAndCatchFire commented on #128
I know that a web-based version was mentioned in another ticket. Imagine a leaderboard system where people could watch each other's replays, too. So many possibilities!

[2018-05-18 21:06] olistic commented on #127
That's more or less what the [epic mode](https://warrior.js.org/docs/epic-mode) is about. You'll have the option to enable epic mode once you reach to the top of the tower (you have one more level to go).

[2018-05-18 21:12] olistic commented on #128
Yeah, that's my main motivation behind the web version, adding a hint of competitiveness to a game that's currently played from your terminal.

This is how it currently works 🙂

Care should be taken so that the levels are generated deterministically given a PRNG state. The PRNG seed could be made available so players could share it and compete with each other and replay a given generated level.
Al

[2018-05-18 21:12] #128 closed

[2018-05-18 21:13] olistic commented on #127
I'm closing this issue, feel free to re-open if epic mode doesn't enable everything you meant!

[2018-05-18 21:14] #127 closed

[2018-05-18 23:10] Supermn54 opened #130 "Documentation Updates - Bonus Time & One Action per Turn Notes"
1) Bonus Time - There is no clear explanation in the documentation or in the Readme on what this is and how it works. Since it impacts scoring, it would be good to better understand it. A brief explanation would be helpful in the Scoring section which makes reference to Bonus time:
![image](https://user-images.githubusercontent.com/4754785/40261348-1c9c4648-5ace-11e8-98fd-8407a7a07918.png)
2) One

[2018-05-19 02:19] r-i-c-h opened #132 "Global Install?"
Why the need for an npm global installation?

[2018-05-19 02:50] olistic commented on #132
Hello @r-i-c-h! There's no such need, it's just the recommended installation method to make it easier for people that are new to Node.js. You can play from a local install if you prefer by following the steps [here](https://spectrum.chat/thread/55784615-2c01-4a03-b933-5b24070cc1ad).

[2018-05-19 02:50] #132 closed

[2018-05-19 08:29] r-i-c-h commented on #125
I think, essentially - The docs of the 'APIs' provide no clear idea of these two relationships to the player/warrior
`const unitAPIObject = warrior.feel().getUnit();
const spaceAPIObject = warrior.feel();`

It would be even clearer to just put in the instructions that
`const space = warrior.feel();
const unit = space.getUnit();`

With the inability to log anything to the terminal, it is almost imp

[2018-05-19 08:44] netzulo commented on #88
that's just a dude ? use another directory @Rbagman to run warriorjs binary , just this :)

[2018-05-19 08:46] netzulo commented on #123
what about specification of changes ? xD are you meaning a new tower ? really not sense to **begginer tower**

[2018-05-19 08:48] netzulo commented on #125
what's wrong with people ? `P.S.: When reporting a problem, please try to follow the issue template and provide the data requested in it.` , love issue_templates, why not using ? xDDDD @383366204 @olistic

[2018-05-19 15:01] olistic commented on #111
Hey @Eveneit, looking at #134 it looks like #120 fixed this issue. Can you please confirm that so I can close this? Thanks!

[2018-05-19 15:05] olistic commented on #125
@r-i-c-h I'll see what I can do to make that clearer.

This should be possible with `warrior.think('<your message here>')` starting with v0.3.0.

[2018-05-19 15:58] Eveneit commented on #111
@olistic Yes it did, the game is working alright on Windows since you merged `#print-row-refactor `!

[2018-05-19 16:48] olistic commented on #130
Hello @Supermn54!

1. I'm working on improving that, you're right, the explanation of bonus time has room for improvement.
2. I think this is stated over an over again, in different parts of the [docs](https://warrior.js.org/docs/en/abilities.html#actions) and in the README of each level.

This isn't right. You can call both actions and senses on the `warrior`, only actions you can do only one per

[2018-05-19 17:14] glneto opened #136 "Readme doesn't mention getUnit on level 5"
Hello!

I was on level 5 and took me a while to discover how to get the unit. On the readme file it says:

But it doesn't mention the use of the warrior.feel().getUnit() for that.

I was thinking that this could be a point where people quit the game, trying to use `unit.isFriendly` and receiving a `not defined` error.

Is the player supposed to figure that out or can the readme file be improved?

[2018-05-19 17:26] olistic commented on #136
I literally just merged #135, which enhances the docs. Should be deployed in a few mins!

[2018-05-19 17:26] #136 closed

[2018-05-19 17:42] #119 closed

[2018-05-20 10:50] cavejay commented on #69
warriorjs v3.0.0 is live on npm but doesn't seem to enable this `think` ability in my profile. Is it hidden because it's not perfect yet or do I have to do something to my profile to refresh and have access to the new ability?

[2018-05-20 11:42] olistic commented on #69
@cavejay you’re probably installing the old package, `warriorjs`, instead of `@warriorjs/cli`.

[2018-05-20 11:45] cavejay commented on #69
yup. that was it. Was trying to figure out why my readme's weren't markdown as well. This would explain it

[2018-05-20 15:37] olistic commented on #103
@pigalot Not at first because it will require some big changes, but when the need arises we can see what’s the best way to do it.

[2018-05-20 15:40] olistic commented on #103
@mattdiamond @pigalot Can you send me the code in your `Player.js` via email? I’m working on this and it would be useful to have other people’s perspective and solutions. Thanks!

[2018-05-20 21:54] mattdiamond commented on #103
@olistic sure!

[2018-05-21 00:11] PB020 commented on #63
Hello, I am relatively new to working on with JavaScript on this level. That being said, this should fix this problem, unless I am mistaken.

![heal correction - capture](https://user-images.githubusercontent.com/32374905/40285434-e76d4e98-5c69-11e8-97eb-a608f5c71b39.PNG)

[2018-05-21 01:15] PB020 commented on #63
No, wait. That would not completely solve the problem. Sorry for the worthless comment.

[2018-05-21 03:11] #46 closed

[2018-05-21 14:12] glneto commented on #63
I took a look at this issue, but I imagine that if an effect that damages the unit is created, it would call the unit.takeDamage which already verifies if the unit died. Am I missing something here? Or maybe I misunderstood the issue.

[2018-05-21 19:00] olistic commented on #63
I think this will be clearer if I explain [how the turns are played](https://github.com/olistic/warriorjs/blob/56e1cb08247b832fa3538d1cd6c0effcd9ab4d49/packages/warriorjs-core/src/Level.js#L47-L48) by the units in the floor:

1. In the order the units were added to the floor, their `prepareTurn` method is executed. This is when the `playTurn` method of each unit is called, executing the senses imm

[2018-05-21 22:10] PB020 commented on #63
Thanks for that response, it really cleared things up. The `isAlive()` check should occur after the execution of each effect, checking if the current health of the player is at or greater than 0. Unless I am wrong, the performTurn method should be written like this for proper implementation.

[code]

[2018-05-22 23:03] olistic opened #151 "Suggest names for your warrior"
Naming things is difficult. Let's make it easier to create a warrior by suggesting cool names.

[2018-05-22 23:43] #151 closed

[2018-05-23 00:03] Offirmo opened #153 "Feature request: clearer display"
Playing the game, I found out that the stats and map displayed in previous terminal lines are updated after the turn.

This makes the output hard to read, because we can't assume that terminal lines content is ordered like a timeline. This is no longer a "history".

See an example:
<img width="431" alt="screen shot 2018-05-22 at 18 12 52" src="https://user-images.githubusercontent.com/603503/40396

[2018-05-23 00:06] Offirmo opened #154 "Doc: clarify "backward" inefficiency"
L7 readme mention "You're not as effective at attacking backward" with no further details.

Could we have more explanations? How reduced is the damage? (it's hard to test)

It seems it doesn't apply the `shoot()`, does it?

[2018-05-23 00:43] olistic commented on #154
Hello @Offirmo, damage is reduced by a 50%, rounding up. I'll consider adding that to the README.

Yeah, it doesn't.

[2018-05-23 09:47] pigalot commented on #153
The display is a summary of the turn:

- Health at end of turn.
- Points at end of turn.
- Position.
- Event log.

As a note the turns are all taken at once and then the output is done from the results after the fact.

[2018-05-23 13:42] olistic opened #155 "New UI"
The proposal is to use [blessed](http://blessedjs.org) for a revamped UI. This will probably allow lots of improvements, but the main motivation for the change would be a better play log:

![untitled](https://user-images.githubusercontent.com/5600126/40428122-fe3c0fde-5e75-11e8-9334-5553dbcf0f11.png)

## Requirements

- [ ] Print level header (`~~~ level 4 ~~~` in the example) in the first row of

[2018-05-23 15:38] olistic commented on #153
@Offirmo The current behavior strikes a balance between too much information (the floor map being printer on every action), and lack of information (a single floor map for the entire play log). I tested those other alternatives and they weren't convincing. What I would be interested in doing, however, is what's presented in #155.

[2018-05-23 15:38] #153 closed

[2018-05-23 15:47] olistic commented on #63
Hey @PB020, I encourage you to open a PR if you want to try a fix for this! We can discuss the code there with better instruments.

Here are some comments regarding what you already posted though:

[code]

There you're only checking once, after all effects have been executed. In order to check after each effect, the check needs to be done inside the `forEach`. But to be able to return early, the `

[2018-05-24 11:53] Pedr0Rocha commented on #103
I like the idea of `.isMelee` and `.isRanged`
Have you ever discussed the possibility of character classes? Like
Ranger: +spaces in `.look()`, +shoot dmg
Knight: +hp, +`.attack()` dmg

[2018-05-24 15:38] mattdiamond commented on #103
@olistic Was just checking out the code, I like what you did with the SensedSpace and SensedUnit concepts. Any plans to break those out into small classes? You could basically just copy the relevant `as` functions into constructors and call it a day... then again, since you only return those from single points in your code, I guess the only real benefit would be that the player could do `instanceo

[2018-05-24 21:43] jeroenrinzema commented on #155
If you want can I start working on this.

[2018-05-24 23:06] olistic commented on #155
@jeroenrinzema Sure, that'd be awesome! I updated the description so you can have a better idea. Let me know if you still want to do it and I'll mark this as claimed. Thanks!

[2018-05-25 13:53] jeroenrinzema commented on #155
I have build this so far in a small prototyping env. What do you think?

![screen shot 2018-05-25 at 15 52 23](https://user-images.githubusercontent.com/3440116/40547984-afa224a2-6033-11e8-8c23-6aa96c5a90e3.png)

[2018-05-25 14:05] olistic commented on #155
@jeroenrinzema That's beautiful!

I wonder if it would visually separate the elements better if we print a separator row (`printSeparator()` function) at the end of the fixed section:

[code]

What do you think?

[2018-05-25 14:11] jeroenrinzema commented on #155
Looks good! I will implement it.

[2018-05-25 14:13] olistic commented on #155
@jeroenrinzema

No, also the new one. Currently, epic mode prints one level after the other:

<img width="778" alt="screen shot 2018-05-25 at 10 46 25" src="https://user-images.githubusercontent.com/5600126/40547710-0487e162-6009-11e8-9b72-01d584769037.png">

^ _Finishing level 8 and starting level 9 right after it._

Now, with blessed you will create a screen that will fill the entire terminal, r

[2018-05-25 14:17] jeroenrinzema commented on #155
@olistic I was thinking about option `A` this should automatically work since I am constructing the level layout in the `Game.js@playLevel(levelNumber)` method

[2018-05-25 15:02] olistic commented on #155
@jeroenrinzema Perfect!!!

[2018-05-25 15:05] olistic opened #159 "README should show all levels when entering epic mode"
Currently, when entering epic mode the README is frozen in the last level of the tower. When you're trying to fine-tune the score for a level other than the last one, it would be helpful if we had the README for that level available. **The proposal is that when entering epic mode, the README is updated with all levels, one following the other.**

[2018-05-25 16:39] olistic opened #160 "Enhance "look" ability"
Right now, the ["look" ability](https://github.com/olistic/warriorjs/blob/405d7c205172d152a73573062d9313baeec1716e/packages/warriorjs-abilities/src/look.js) always returns the first three spaces in the given direction.

In this situation (warrior facing west):

[code]

`warrior.look()` would return `[wall, wall, wall]` (`wall` is actually a space with `isWall() === true`). It would be better if "l

[2018-05-25 19:40] pigalot opened #161 "Blind Mode?"
This is more of a sugestion for later after the next tower is done.

Blind mode:
Read me only contains minimal API documentation and no map.
Implement a `drawMap` function that allows the warrior to output what it thinks the floor looks like.
Using some helper functions like `drawWall(x,y)`, `drawMonster(x,y)`, etc the warrior could even be scored on the accuracy of the map.

Is there any appetite

[2018-05-26 10:51] pigalot commented on #160
I would like to give this one a go if that alright.

[2018-05-26 19:37] #160 closed

[2018-05-27 17:57] olistic commented on #103
Hey @mattdiamond, I'm still considering options but I figured I could start some code in the `warrior.wounds()` direction. You can test it by checking out b21cf6c. (I HAVEN'T TESTED IT YET.)

[2018-05-27 19:58] jeroenrinzema commented on #155
I got a beta version of the [new UI](https://github.com/jeroenrinzema/warriorjs) that is ready to be tested. I still need to write documentation and tests and clean up the code here and there.

[2018-05-28 14:22] wizeowl opened #167 "Look ability not working"
Warrior js version: 0.4.2
When I invoke `warrior.look()` I get the following error

`Invalid Player code: warrior.look is not a function`

[2018-05-28 15:01] olistic commented on #167
Hello @wizeowl, thanks for your interest in the project!

What level are you at? Does the README in your profile say you have `warrior.look()` available?

[2018-05-29 09:02] wizeowl commented on #167
I'm at the beginner tower.
I took the README as indication and didn't think the list of sense was exclusive
Now I understand why getLocation always returns [1,0]

Also thanks for the fast feedback :+1:

[2018-05-29 12:05] hasparus opened #168 "docs/towers.html page is dead."
Readme is linking to https://warrior.js.org/docs/towers.html

## 🤔 Expected Behavior
There is a page in the docs clarifying that there is only one tower and encouraging contribution.

## 😯 Actual Behavior
404

[2018-05-31 01:03] #100 closed

[2018-05-31 01:03] #168 closed

[2018-06-01 05:28] olistic opened #189 "Sort abilities alphabetically in profile's README"
Abilities should be sorted alphabetically under the sections "Actions" and "Senses" of the profile's README.

[2018-06-02 19:42] djohalo2 commented on #189
@olistic Looks like a good issue to start with! However, after cloning the repo, running the necessary yarn installs, I can't seem to get my local version running to test changes. Whenever I run the warriorjs.js from the cli package with node I get unhandled promise rejections :/ Did I miss some steps perhaps?

[2018-06-02 20:48] olistic commented on #189
Hello @djohalo2, and thanks for your interest in the project! Would you mind opening a new issue and completing the issue template so I can help you better?

[2018-06-02 20:58] #74 closed

[2018-06-03 00:06] olistic commented on #189
@djohalo2 Before opening the issue, give it another try. It could have been fixed by e790005.

[2018-06-03 09:10] djohalo2 commented on #189
@olistic It works now! I will then pick up this issue, it that's alright!

[2018-06-06 19:33] #189 closed

[2018-06-09 17:33] ivarni opened #195 "Possible mismatch between API documentation and implementation"
First of all, thanks for making this. I had a lot of fun with it and I suspect I will have more fun with it when working towards a top score in epic mode.

I see references in the API docs for the [space API](https://warrior.js.org/docs/en/sensed-space-api.html) to `.getUnit`, `.getLocation` and `.isUnit` but they don't seem to actually be part of the API. When I `console.log` the returned values

[2018-06-09 17:55] ivarni opened #196 "`.isCaptive()` returns undefined instead of false if the unit is not a captive"
# Environment

I'm not sure why but this is what that command returns on my system
[code]
I've not installed it globally so that could be why, but either way I'm on `^3.0.0` at the time of writing this.

# Steps to reproduce

1. Run level 5 of the beginner tower
2. Execute this code on the first turn:
[code]

# Expected Behavior

I expected it to log
[code]

# Actual Behavior
 It logs
[code]

I'm

[2018-06-09 18:16] olistic commented on #195
Hey @ivarni, you’re indeed out of sync. Run `npm i -g @warriorjs/cli` to get the latest version. And thanks for your kind words, I’m glad you’re having fun. If you have any suggestion please open another issue, it’s always a pleasure to have people contributing!

[2018-06-09 18:16] #195 closed

[2018-06-10 08:19] ivarni commented on #196
I'm closing this untill I can figure out if I'm on the right version or not, I've installed `warriorjs@^3.0.0` locally instead of installing the cli as recommended and I might have gotten the wrong version somehow, ref #195

[2018-06-10 08:19] #196 closed

[2018-06-10 08:36] ivarni commented on #195
@olistic I had installed [the warriorjs package](https://www.npmjs.com/package/warriorjs), which I see is two years old now that I look at it so that explains a lot :eyes:

[2018-06-10 12:27] olistic commented on #196
If you don’t want a local install, you can omit the `-g` but you should still install `@warriorjs/cli` and not `warriorjs`. The latter is a different branch of the game I no longer maintain.

[2018-06-11 23:20] Supermn54 commented on #159
Hello - Is this still open? As a newbie, I'd like to take this on if possible. I've already sifted through the cli package to get a feel for how I'd approach this proposal.

[2018-06-12 05:54] Supermn54 commented on #159
After mapping out all the files/calls, my high level plan would be to add a call that generates an EpicReadme.md file to the async playEpicMode() function. This call would sit before the while loop that plays each level.  In addition, I'd have to create a new EpicReadme.md template.

Thoughts?

[2018-06-12 15:48] olistic commented on #159
Hello @Supermn54, thanks for your interest in the project!

Sure, I'll mark it as claimed.

If you see, the README is generated when [preparing the next level](https://github.com/olistic/warriorjs/blob/e879fcd6fa3c47864e3fb01baa599dc891ac468e/packages/warriorjs-cli/src/Game.js#L382). As you already noticed, this is not enough for the proposed change, we need to generate the README when entering ep

[2018-06-13 04:11] Supermn54 commented on #159
Thanks @olistic! For some reason, I didn't think the current README template structure supported the requested README outline but now I see how we can simply add loops into each section of the template.

As for updating the prepareEpicMode() function, I was thinking of adding this. generateProfileFiles() and then updating the generateReadmeFile() function with code to create an array of 'data' obj

[2018-06-13 16:35] olistic commented on #159
Assuming that you pass a `levels` array to the template, then you can simply do `levels.forEach(level => ...)` and render the `level` partial inside the loop. Take a look at [this](https://github.com/olistic/warriorjs/blob/e879fcd6fa3c47864e3fb01baa599dc891ac468e/packages/warriorjs-cli/templates/readme/abilities.ejs#L15-L17) for an example.

[2018-06-14 01:20] olistic commented on #159
Ahh, gotcha. For the `data` object passed to the `ejs.render()`, we need to replace the level with an array of levels, as you said. And if I understood you correctly, you’re having issues creating that array of level objects. For that, you can use the value of `profile.levelNumber`, which will be the last level of the profile’s selected tower (and it’s safe to assume that all towers start with lev

[2018-06-17 13:09] olistic commented on #47
Hello @justdvnsh, that'd be awesome. How are you planning to tackle this?

[2018-06-17 13:31] justdvnsh commented on #47
So, i guess , after adding the ```-n``` or ```--no-markdown``` arg in the argument file ```parseArgs.js``` and then planning to write a simple md to txt parsing engine using regex. Because I dont find any md to txt parsing libraries out there.. Also , the txt files , would not be containing the text decorations and images.

What do you think ? Will this approach work ?

[2018-06-17 13:59] olistic commented on #47
There are some libraries that strip markdown formatting characters from text you can try, like [remove-markdown](https://github.com/stiang/remove-markdown), but I don't know how well they'll fit our use case. What if you just create another `ejs` template, but for the `README.txt`?

[2018-06-17 14:42] justdvnsh commented on #47
Yes , using an ejs template seems like a pretty good option . We can make the characters dynamic . But still, we would need to change all the readme files to add the dynamic content.

So , I guess , instead of attaching readme files with the game , we can attach those ejs templates with the static  data, in which the dynamic data ( i.e. markdown formatting chars )  will be populated on the fly , a

[2018-06-17 15:18] olistic commented on #47
If I understood correctly, you're suggesting using the existing template but making the markdown formatting characters visible only when markdown is enabled? I thought of that but I think the template will get too convoluted. That's why I suggest having another template/set of templates called `README.txt.ejs`. This also allows us to make different formatting choices if we wanted in the text READM

[2018-06-17 16:45] justdvnsh commented on #47
Yes ,you understood that correctly. Yes , even I was wondering, that it will convolute the template . But I didn't really understand the solution you gave . If we will be using the README.txt.ejs template , then what will get added to it ( what will be the dynamic data ?

[2018-06-17 17:11] olistic commented on #47
The existing template is called `README.md.ejs`, which includes all the markdown formatting characters and is used to generate the markdown README (`README.md`). We can add another template called `README.txt.ejs` without markdown and use that to generate the text README (`README.txt`) when the `--no-markdown` flag is passed. The data we pass to the template in the render function should be the sa

[2018-06-17 17:49] justdvnsh commented on #47
Okay yes . That sounds a pretty good solution.

[2018-06-17 18:43] olistic commented on #47
Go for it! Thanks

[2018-06-17 18:45] justdvnsh commented on #47
Sure thing !

[2018-07-01 03:25] shamuel22 opened #205 "Why is your site blocked for the Dominican Republic?"

[2018-07-05 02:19] orlant opened #207 "Proposal for Renovation of LOGOTIPO PARA WARRIORJS"
Oh, this initiative is very interesting to create a game for programmers, regardless of whether you are new or not ... I am a graphic designer and while reading the details, I noticed that a proposal of renewal to your logo would be ideal. with a concept more similar to a game of programmers if you allow me I can design for YOU. Thank you

[2018-07-08 18:02] lipsumar opened #211 "Bug with `feel()` at the very first turn"
There seems to be bug when using `feel` at the very first turn. For some reason it thinks there is an enemy where there is none.

# Environment

## System:
 - OS: macOS Sierra 10.12.3
 - CPU: x64 Intel(R) Core(TM) i7-4750HQ CPU @ 2.00GHz
 - Memory: 1.21 GB / 8.00 GB
 - Shell: 3.2.57 - /bin/bash
## Binaries:
 - Node: 8.7.0 - /usr/local/bin/node
 - Yarn: 1.2.1 - /usr/local/bin/yarn
 - npm: 6.1.0 - /

[2018-07-08 19:47] olistic commented on #205
Hello @shamuel22, I don't know, it shouldn't be. I'll investigate!

[2018-07-08 19:49] olistic commented on #207
Hello @orlant. Thanks for your interest in the project. I'm currently satisfied with the logo, but feel free to propose something. I'm always open to new ideas.

[2018-08-09 09:27] IceDune commented on #63
@olistic , @PB020 , can i work on this?

[2018-08-10 12:39] olistic commented on #63
@IceDune Sure! Let me know if you have any questions.

[2018-08-13 08:55] nukeop commented on #168
Still dead unfortunately.

[2018-08-13 09:00] nukeop opened #224 "How to contribute towers?"
More of a question than an issue.

I assume I can't just for warriorjs, add my tower to it, and submit a pull request. I scoured npmjs.com for warriorjs modules, but I only found the official ones. If I were to create my own tower module, should I publish it on npm as a standalone package, or should I add it to this repo in a pull request after a review process? Will warriorjs find my module autom

[2018-08-13 15:32] olistic commented on #168
Hello @nukeop, README now points to https://warrior.js.org/docs/play/towers, which should work.

[2018-08-13 15:44] olistic commented on #224
Let me try to answer all your questions separately:

Yes, you should publish it to npm following the guidelines [here](https://warrior.js.org/docs/play/towers) and [here](https://warrior.js.org/docs/make/publishing).

This is something you can do in addition to publishing it to npm. I don't guarantee your tower will be included in the game out of the box, but it's certainly a possibility. Let me a

[2018-08-13 19:20] nukeop commented on #168
Right, I was thinking about a different link.

https://warrior.js.org/docs/en/play/towers

The "add it" link points to a file that no longer exists.

[2018-08-13 20:46] olistic commented on #168
@nukeop Ugh, sorry for that. It should be fixed now, thanks!

[2018-08-20 02:38] Songkeys opened #228 "Any plans on i18n?"
I've seen an `i18n` directory and a `language.js` file. But did I miss something or is there just an English version for now? If nothing, any plans on that? I think I could help contribute with some Chinese translation job to bring this to more people. Thanks.

[2018-08-23 18:37] bbugh commented on #167
Hi, I'm at "baby steps level 6" and it's telling me that `look` is not a function. It is listed in the README and has worked previously. I'm in the web client, if that matters.

[2018-08-23 18:41] bbugh opened #229 "Documentation links are broken in many places"
# Environment

This is the web version

# Steps to reproduce

1. Links at the bottom of the README go to the wrong link

wrong: https://warrior.js.org/docs/play/space-api <-- missing "er" on player
right: https://warrior.js.org/docs/player/space-api

wrong: https://warrior.js.org/docs/play/general-tips
right: https://warrior.js.org/docs/player/general-tips

2. Search results in the documentation g

[2018-08-24 14:27] olistic commented on #229
Thanks for reporting, number 1 should be fixed now. Number two will take a bit till Algolia's crawlers pick up the new config.

[2018-08-24 14:27] #229 closed

[2018-08-24 14:32] olistic commented on #228
Hello @Songkeys. First, thanks for your contribution offer. Now, i18n is just for the docs, available [here](https://warrior.js.org). The web version of the game doesn't currently support other languages, nor there's a plan for it in the near future.

[2018-08-24 14:32] #228 closed

[2018-08-29 19:49] bbugh commented on #103
I came here to suggest that `getUnit()` have some kind of unit type as well. I was surprised that this wasn't already available, since players have visual knowledge of what kind of unit it is (`W` or `a` or `S`). `wounds()` sounds useful as well, though I'd prefer if I can actually get the type. It makes the strategy more interesting, in my opinion, and makes it less weird that I have knowledge th

[2018-10-04 09:39] rbtbar opened #233 "access to newer abilities in previous levels"
Hi, currently I taking 'baby-steps' on https://warriorjs.com.

I've noticed that when I switch the level (via dropdown) back to "1", the list of available abilities in the readme contains all abilities gained during the game. The warrior also gets an access to them. Is it intentional?

[2018-10-04 10:37] olistic commented on #233
Hi! It's not intentional, unless you have already completed level 9 and entered "Epic mode" (check if you have an "Epic mode" checkbox below the level dropdown). Epic mode runs your epic code from level 1 to level 9 without stop, so you have all the abilities available.

[2018-10-04 17:43] olistic opened #235 "Connect WarriorJS CLI with warriorjs.com"
The proposal is to be able to sync your code with the online version of WarriorJS (https://warriorjs.com) so that you can play from the terminal with your own IDE, but also be part of the global leaderboard (https://warriorjs.com/leaderboard). The user will need to authenticate via the CLI, and then, after succeeding in each level, the code would be sent to the WarriorJS API (GraphQL API running a

[2018-10-05 15:14] olistic opened #237 "Add ability to get warrior's max health"
The proposal is to add a `.maxHealth()` ability (sense), that allows the player to get the warrior's max health programmatically, so hardcoding its value in the code is no longer necessary.

[2018-10-05 16:29] olistic commented on #237
@JSeed Of course! Let me know if you need any help while at it.

[2018-10-06 09:03] enrique-ramirez commented on #237
I didn't know this was open source! Thanks for the quick response. I'll try to help out soon as well!

[2018-10-06 16:51] #237 closed

[2018-10-08 01:10] shiar commented on #167
I encountered the same warning halfway through Baby Steps level 4 from one run to the next. Also going back to previous levels had previously successful code stop working. The level readme retained warrior.look() as an ability.

After restarting my browser, the ability disappeared from the readme as intended. So the actual bug is that future abilities were available in the first place.

[2018-10-08 01:17] olistic commented on #167
@shiar Do you recall when was it that you experienced that problem? The reason I asked is because I deployed a fix for that issue last Friday, if it was later then I'll need to revisit the issue.

@bbugh sorry, I completely missed your comment!

[2018-10-08 01:43] shiar commented on #167
It was in fact last Friday when this occurred IIRC, so it might have been your fix which broke things for me :)
Thanks!

[2018-10-09 19:32] dandgerson opened #241 "brief description on each release"
It would be nice if we can read breif notes about
new release, thanks))

[2018-10-10 22:45] dandgerson commented on #241
Oh, Thanks, it's helpful!!! When i'd write this one i assumed, https://github.com/olistic/warriorjs/releases

but i'm just novice, and many things isn't obviouse for me at first sight.

[2018-10-10 22:46] olistic commented on #241
Not a problem!

[2018-10-10 22:46] #241 closed

[2018-10-13 21:32] dandgerson opened #242 "@warriorjs/tower-tick-tick-boom why not includes the warrior's "pivot" ability ?"
Hey! WarriorJS,

When my JS Warrior attacking in 'backward' direction he takes only 3 points damage, while if he will can pivot to the enemy face to face he will cuts 5 points for each attack. And this is not cheat, because it's normal, when you want to bash or slash the enemy's skull, you have to pivot yourself to face him))

and i was really puzzled when my Warrior was surrounded by the enemies

[2018-10-16 03:16] jpparent commented on #233
Just completed baby-steps' level 9 and everything seems fine if I go back to other levels while not in Epic Mode. Toggling between Epic Mode correctly toggles between the level's original readme and the Epic Mode's one. Same thing for the underlying abilities.

[2018-10-16 03:35] olistic commented on #233
@rbtbar This ended up being a bug, which was already fixed.

@jpparent Thanks for your report!

[2018-10-16 03:35] #233 closed

[2018-10-16 09:40] dandgerson opened #245 "Must The Warrior received bonus damage when he has been attacked by enemies from 'backward'?"
Hello, WarriorJS!

When the Warrior have being attacked from 'backward' he has recieved normal damage.
But I think, that it is logical true, when the warrior have receive damage from 'backward', ***he must be more vulnerable***. But it's about of the balance of the game, and so I can't offer right pull request with my novice programming skills, but i with much pleasure learn, how it's can be perfo

[2018-10-19 01:32] jpparent commented on #84
I agree with @pigalot. When I was playing, I always saw the action as the last thing to do in a turn (especially since you can only perform one action per turn). Thus I started to return them instead of having multiple `else if`s.

[2018-10-20 05:16] akamuraasai commented on #123
I think it’s a very good idea, since the game will be more challenging and funny. Also, I’m planning to implement a new tower with this kind of mechanics.

[2018-10-20 14:06] VarPDev commented on #123
Fantastic

On Sat, Oct 20, 2018, 7:16 AM Jonathan Willian <notifications@github.com>
wrote:

--
Pasquale De Lucia

+39 3283144431
https://www.linkedin.com/in/pasquale-de-lucia-angularjs/

[2018-10-23 03:52] A1rPun commented on #161
Drawing a map is only viable when you start the map because when you are done with a floor you probably have killed all enemies and rescued all captives.
You can however remember the location of killed enemies or rescued captives but I don't see a point in doing that.

I assume the only thing you can use in blind mode is the `warrior.feel()` function and I think that will make it much more challen

[2018-10-23 04:07] A1rPun commented on #84
I also agree with @pigalot. Maybe add some syntactic sugar like:

[code]

[2018-10-23 04:33] A1rPun commented on #116
After you beat a floor you get asked if you want to retry it. If you get the additional reward message and you want to retry the current floor does that mean that you can use the new abilities for the current floor? The message can be confusing at this point.

The new learned abilities are properties of a floor so that means the current floor needs to get data from the next floor to display the ab

[2018-11-05 16:03] akamuraasai commented on #123
Sorry about the late response. I'm really busy at work those days.
To generate the map, I'm using a fixed number of enemies. Then these enemies receives a random position based on empty spaces of the map. It's not that elaborated, to be honest. I don't wanna make this issue a chat, so can we talk about this in another place?

[2019-01-21 18:35] glneto commented on #63
It's been a while since the last comment on this, so I opened #250 - hope it works as expected. If there is any case I missed let me know.

[2019-02-06 23:19] alexmachina commented on #99
News on this? If a contributor can point me on the right direction I'm available to implement it this weekend

[2019-09-04 03:49] entrptaher opened #252 "Add retro sounds"
The original ruby warrior from 2012 had sound effects so it made everything more enjoyable and interactive. https://www.bloc.io/ruby-warrior

That server is dead but the client is still online. What's our plan to add sounds in warriorJS?

[2019-09-04 18:04] olistic commented on #252
I'm open to the idea of sounds, yeah. At least adding ambience music like in ruby-warrior should be pretty easy. Any recommendation?

[2020-02-06 18:49] #96 closed

[2020-05-01 06:04] Gongjuhyeon opened #254 "translate Korean"
I want to translate this project into Korean.

[2020-05-01 15:50] olistic commented on #254
Thanks @Gongjuhyeon! You can get started in [Crowdin](https://crwd.in/warriorjs).

[2020-05-01 15:50] #254 closed

[2020-05-11 05:55] Gongjuhyeon commented on #254
Thank you~!

[2020-05-17 15:21] Gongjuhyeon opened #255 "Korean Translation"
I completed the Korean translation work through Crowdin. Could you merge it for me?

[2020-05-17 15:41] olistic commented on #255
I'll gladly merge a PR that enables Korean! For reference: https://github.com/olistic/warriorjs/pulls?q=is%3Apr+is%3Aclosed+languages

[2020-05-17 16:19] Gongjuhyeon commented on #255
Thank you~!!!

[2020-10-07 13:19] akhercha opened #256 "Can't access functions from a Unit object"
# Environment

On the https://warriorjs.com/ website : I was trying your game and I was faced with a problem that I can't solve.
I think it's not from my code but if it is (or anything else that I missed...), sorry for the inconvenience!

# Steps to reproduce

**Tick, Tick... Boom!** campaign, level **2**, test the [following code](https://gist.github.com/akhercha/93cdfbf68330386e09a864d42f9f6ee4)

[2021-03-02 18:03] rudiedirkx opened #258 "Watch for Player.js changes and run"
I have no idea how to do this, but would it be possible to auto-run a warrior when its Player.js (or other files?) change? Something like

    warriorjs --directory warriorjs/antalia-baby-steps/ --watch

Output would still happen on the command line, but then I can use a nice editor to edit my Player.

I didn't see it in `warriorjs --help`, so I thought I'd ask.

[2021-05-10 12:22] #256 closed

[2022-02-04 16:39] Zorgatone commented on #235
It would be great!

[2022-04-25 05:51] RanvirChoudhary opened #259 "I cannot sign in or create an account for the online platform"
I created an account on warriorjs.com (at least I think I did??) and the page said I would be receiving a mail to my account with further instructions. i did not receive any mail, and i have checked all folders in my account. i left the process there believing maybe the mail got delayed somehow and will arrive later. i checked after a long time and the mail has still not arrived.

going to the sig

[2022-04-25 05:58] RanvirChoudhary commented on #259
i just tried to reset my password using my username that i tried to sign up with and i get a new error message saying "Oops! Something went wrong..."

[2022-06-02 23:27] michaelfitzhavey commented on #259
In the console from the password reset page it says there is a 400 response from AWS - maybe this is the issue? ⚔️

[2022-10-06 19:14] lightbluepoppy opened #261 "When I 'Run' the game after defeated, the state isn't refreshed unless I reload the page for several times"
# Environment

# Steps to reproduce

# Expected Behavior

# Actual Behavior

[2022-10-07 23:34] lightbluepoppy opened #262 "rescue('backward') is undefined"
# Environment

# Steps to reproduce
On website `Baby Steps - Level 6`

[code]
# Expected Behavior

# Actual Behavior
[code]